[2016-09-21 11:18] petermlm opened #2 "Small error on Compiling in Mac OS X"
In mac OS, the ar command will not create the lib library if it doesn't exist. I get the following error:

    ar: ../lib/libzfp.a: No such file or directory

Creating the library myself, the compilation works.

[2016-09-21 18:09] IanLee1521 commented on #2
Looks like I'm seeing the same issue (OS X 10.11.6, GNU Make 3.81):

[code]

[2016-09-21 18:16] lindstro commented on #2
Hmm.  Does ../lib exist?

On 09/21/16 11:09, Ian Lee wrote:

--
Peter Lindstrom . pl@llnl.gov . http://people.llnl.gov/pl . 925-423-5925

[2016-09-21 18:57] IanLee1521 commented on #2
Looks like it doesn't... Maybe something got missed in the upload?

[2016-09-21 19:03] IanLee1521 commented on #2
Ah, `lib` was an empty directory, which git ignored, and `ar` doesn't create automatically.

I've pushed a keeper file a97f2e3 to force git to track the directory.

[2016-09-21 19:20] lindstro commented on #2
Thanks, Ian.  An alternative solution would be to add "mkdir -p ../lib" to the Makefile.

[2016-09-21 21:07] petermlm commented on #2
@IanLee1521 , yes. That is what was happening.

Both solutions would work fine. Since lib is a directory with outputs only, it might be better to have @lindstro solutions. And maybe the "make clean" command should also remove the lib directory, right?

[2016-09-21 21:32] IanLee1521 commented on #2
That sounds reasonable. Would you be willing to make a pull request?

Sent from my iPhone

[2016-09-21 22:02] petermlm commented on #2
Sure. I'll do it first thing in the morning when I get to the office. (Lisbon Timezone)

[2016-09-27 21:06] #2 closed

[2017-08-07 19:33] avolkov1 opened #8 "CUDA GPU version of zfp"
The README mentions a CUDA GPU version of zfp in the works. Is there a public version that can be made available of this CUDA GPU version sometime soon?

Thank you

[2017-08-07 20:34] mclarsen commented on #8
The experimental CUDA version lives at:
https://github.com/mclarsen/cuZFP
Note that the code and API will be in flux for some time, but currently the implementation support 3D arrays compression and decompression for the types: int32, int64, float32, and float64. There is no documentation, but there are examples in the tests directory.

[2017-08-19 20:48] #8 closed

[2018-02-13 22:48] markcmiller86 opened #9 "How do I know what's new in each release?"
I am updating H5Z-ZFP filter to use latest and greates ZFP library. But, I honestly don't know what is new in the library? Is it just bug fixes or other internal refactoring? Or, are there new features I should be aware of? Where might I go looking to get this information if it already exists? And, if it already exists, any chance future releases might include it in the _releases_ section of this

[2018-02-13 23:14] lindstro commented on #9
Release notes are in the VERSIONS text file and http://zfp.readthedocs.io/en/release0.5.2/versions.html.

[2018-02-13 23:25] lindstro commented on #9
Great suggestion.  Will do.

[2018-02-13 23:25] #9 closed

[2018-02-19 18:48] JayKickliter opened #10 "Unused stores"
This is just a FYI issue.

 `clang-tidy` is finding three unused assignments in ZFP. All three are the last shift-assign of `meta` in `zfp_field_set_metadata`'s `case`s:

https://github.com/LLNL/zfp/blob/master/src/zfp.c#L299
https://github.com/LLNL/zfp/blob/master/src/zfp.c#L303
https://github.com/LLNL/zfp/blob/master/src/zfp.c#L308

[2018-02-20 16:35] JayKickliter commented on #10
That's what I suspected; makes sense.

[2018-02-20 16:35] #10 closed

[2018-02-26 14:42] snarb opened #11 "30x less compression rate then zip"
I am using tolerance = 0.0 to compress 2d 1000 * 1000 float arrays( a lot of different arrays, so this is not some accident). If for example the array just contains zeros or some value compression rate is high, but when there are several repeated values and some random compression rate is low. it is something like 30%.  At the same time, zip library compresses the same array on average 30x better.

[2018-02-26 15:54] lindstro commented on #11
zfp, like all compressors, makes some assumptions on how data values are distributed.  It compresses well for distributions it is designed for, but--like all compressors--will do worse and even expand some inputs that violate the assumptions on the data.  By the pigeonhole principle, every (lossless) compressor must expand some inputs in order to compress others.

zfp assumes that values vary some

[2018-02-27 13:18] snarb commented on #11
Thanks, Peter, I got it.  Indeed, the data function is not smooth. That arrays are actually equities from poker.(how much one hand is more profitable the other). If you are interested in data  here is an example 1326x1326 float array in binary format:
https://drive.google.com/open?id=1m9GNLjJ6VFJTwVMK4o7gh2ItFN7OAxx5
Lossy compression is also an interesting topic for me for some cases, but again d

[2018-02-27 15:00] lindstro commented on #11
I looked at this file, and it contains only three different values: {-1, 0, +1}.  No wonder zip does so well on this file! :-)

This type of floating-point data is not what zfp was designed for.  In fact, if the arrays contain only a few discrete floating-point values, then I would suggest storing a small lookup table and then replacing the floats with 8-bit indices (if sufficient) into that table

[2018-03-02 03:56] #11 closed

[2018-03-29 07:25] SoLaRGit opened #12 "What is the purpose of this code?"
looking at the code I don't see the purpose of following lines

[code]
if we have 1tb of compressed data, and available to us only 32gb of RAM.
how you are going to read this file in ram?

shouldn't stream implement reading in chunks from file, instead from ram?

[2018-03-29 11:46] lindstro commented on #12
The size of the compressed input is in general not known (e.g. it could come from stdin).  Although the compressed file size could in principle be stored in a header, the zfp utility does not use a header by default.  So to read the file into memory, a geometrically increasing buffer is allocated (similar to how an STL vector grows via push_back()).

It is true that a more optimized implementation

[2018-04-07 00:05] lindstro commented on #12
I am closing this issue.  Your comment has made me think about adding an API for streaming compression and decompression as a convenience, which could also be exploited by the zfp command-line utility.

[2018-04-07 00:05] #12 closed

[2018-05-13 14:48] ast opened #16 "Please add pkg-config .pc file"
Something like this:

[code]

[2018-05-19 01:44] lindstro commented on #16
Thanks for the suggestion.  I do not have any experience with pkg-config, but from a quick glance at the documentation I would suggest adding this to the repo:

% cat zfp.pc
prefix=/usr/local
includedir=${prefix}/include
libdir=${prefix}/lib

Name: zfp
Description: Library for compressed numerical arrays that support high throughput read and write random access
URL: https://github.com/LLNL/zfp
Req

[2018-07-22 00:29] systemed opened #17 "Progress on thread safety?"
I'm experimenting with using zfp to store terrain (elevation) data. Early results are very encouraging, saving 50% over my current compression solution - thank you.

The project I'm building it into is multi-threaded (for read access only). Before I go any further with integrating it, could I ask if there's any progress on making zfp thread-safe?

[2018-07-22 02:05] lindstro commented on #17
We have an experimental feature branch (feature/view) that supports thread-safe compressed arrays via "private views."  For read-only access, each thread may access any part of the array, which is backed by a thread-private cache (this avoids expensive locking).  For read-write access, the array must be partitioned into independent zfp blocks (e.g. blocks of 4x4 values in 2D) via non-overlapping r

[2018-07-24 11:42] systemed commented on #17
This is terrific - thank you. I've experimented with the view branch and it seems to work well. I don't anticipate I'll be integrating it until September anyway so look forward to the next release.

[2018-07-24 11:42] #17 closed

[2018-07-25 15:37] ast commented on #16
Sorry forgot about this! I'll use zfp again in a project I'm working on in august. If you can keep the issue open until the middle of august I'll see if I can come up with something. It's a pretty standard thing so I'm sure there's some functionality in Cmake for generating the pkg-config file.

Specifically I'll experiment with using zfp for streaming a real time power density spectrum (1d array)

[2018-08-08 03:51] mikeando opened #18 "Compression segfaults for z-smallest strides"
The following code using strides of `{4*5, 5, 1}` on data of size `(3,4,5)` and fails with a segfault on linux, but using strides of `{1, 3, 3*4 }` works just fine.

[code]

The error I get is:

[code]

The stack trace I get is :

[code]

And gdb shows:

[code]

[2018-08-10 08:48] salasoom commented on #18
With strides {4*5, 5, 1}, I believe you already access indices outside the range of array "data" when filling it, causing undefined behavior. Could check this with valgrind for example, or assert that "idx < nx*ny*nz".

[2018-08-10 15:28] lindstro commented on #18
This appears to be a bug in zfp caused by incorrect sign extension in gather_partial_float_3.  We'll work on a fix.

[2018-08-17 23:26] lindstro commented on #18
@mikeando, our current plan is to address this bug in the next release, slated for the end of September, by in effect killing two birds with one stone.  We've been meaning to replace int and uint with ptrdiff_t and size_t to support very large arrays with more than 2^32 elements.  This change will also take care of the incorrect sign extension from 32 to 64 bits that's causing the bug you're seein

[2018-09-06 13:36] psteinb opened #19 "roundtrip impossible"
Hi,

I am playing with zfp to compress some cryoEM data. I am struggling to perform a roundtrip, so I am doing the following with the current master:

[code]

I was hoping that the output file would match in size to the input, which it doesn't. The output is 4x smaller than the input. Which suprises me? The same happens if I do:

[code]
Am I overseeing something?
Best,
Peter

[2018-09-06 22:43] lindstro commented on #19
Using /dev/zero as input, I can verify that zfp does produce a much smaller output file that is 10458824512 bytes long, which coincidentally is exactly 2^35 bytes = 34359738368 bytes = 2^32 words shorter than the 44818562880 bytes it should be.  I suspect that what should be a 64-bit index or counter somewhere gets truncated to 32 bits due to mixing 32-bit and 64-bit integers in the code.

We will

[2018-09-07 07:05] psteinb commented on #19
@lindstro thanks for looking into this. Indeed my input data is 40GB in size ... so passing the 4GB boundary is simple in this scenario. I am looking into different compression schemes currently. As we want to see if the downstream operations are affected by lossy zfp compression, it would be vital to have the fix you are mentioning. I'll try to bypass it for now.

[2018-09-07 14:40] lindstro commented on #19
@psteinb, I'm fairly confident that it's not a file size issue but rather something to do with the number of array elements, which exceeds 2^32 in this case.  The issue could well be with the zfp executable and not the library itself.  Either way, this is a high priority issue for us that we're hoping to address soon.

[2018-09-12 02:34] lindstro commented on #19
As suspected, the primary issue was with the zfp utility, which did not handle arrays with more than 2^32 elements properly.  We also addressed a related issue in the OpenMP compressor.

We have pushed a bug fix to the 'develop' branch.  @psteinb, can you please verify that this fix addresses your issue?

[2018-09-12 02:42] lindstro commented on #18
@mikeando, we have addressed this bug on the 'develop' branch.  The fix will also be included in the next release that is set for late September.

[2018-09-14 15:02] psteinb commented on #19
it works perfectly now at least by checking file sizes. Thanks for providing the fix. Feel free to close this issue, once the fix is in `master`.

[2018-09-14 20:46] lindstro commented on #19
Thanks for verifying.

[2018-10-02 16:17] lindstro commented on #19
The fix is now in master and the 0.5.4 release.

[2018-10-02 16:17] #19 closed

[2018-10-02 16:18] lindstro commented on #18
The fix is now available through the 0.5.4 release.

[2018-10-02 16:18] #18 closed

[2018-10-18 11:33] systemed commented on #17
Just to let you know I'm now using ZFP in production for the elevation graphs at https://cycle.travel/map (plot a route, click the 'elevation' button). Thanks for all your work!

[2018-10-19 18:40] lindstro commented on #17
That's great to hear.  So zfp is being used to store the 2D elevation map, z(x, y), in compressed form and not just the 1D elevation vs. distance graph being shown for a given route?

[2018-10-19 19:34] systemed commented on #17
Exactly that. It's compiled with -DZFP_BIT_STREAM_WORD_SIZE=16, and integrated into a patched version of OSRM (http://project-osrm.org).

[2018-10-20 00:41] lindstro commented on #17
Neat.  Is this patch public and something that others can benefit from?  I'm not familiar with OSRM...

I can't help but ask about the choice of a 16-bit word size, which specifies how many bits of compressed data to read or write at a time.  Most users would use a word size of 8 (to ensure compatibility between little and big endian machines) or 64 (the default, for maximum speed).  Why did you d

[2018-10-25 11:56] yunhua-deng opened #22 "-h option not working for decompression"
`zfp -i datafile -z datafile.zfp <options>` works perfectly
`zfp -z datafile.zfp -o datafile.raw <options>` works perfectly
`zfp -i datafile -z datafile.zfp -o datafile.raw <options>` works perfectly

but,
`zfp -i datafile -z datafile.zfp <options> -h` works
`zfp -z datafile.zfp -o datafile.raw -h` **doesn't work** and reports **array size must be nonzero**

What is the correct way to use _-h_ opt

[2018-10-25 12:30] lindstro commented on #22
I confirm that header support is broken in zfp 0.5.4.  In this version, we added a test to ensure that any user-specified array dimensions are nonzero for compression, which is incorrectly triggered when decompressing using a header.  We will push a fix in the next 24 hours.

[2018-10-25 16:02] lindstro commented on #22
@yunhua-deng, I have pushed a fix on the develop branch.  Can you please verify that it addresses your issue?

[2018-10-26 03:14] yunhua-deng commented on #22
After applying the fix, `zfp -i datafile -z datafile.zfp <options> -h & zfp -z datafile.zfp -o datafile.raw -h` works perfectly! Please feel free to close the issue once the fix is in the master.

[2018-10-31 08:46] yunhua-deng opened #23 "Half-precision (f16) support"
Is there any susequent plan to support f16 (half-precision) floating-point value compression? At this point, we can only selectr -f for single- and -d for double-precision.

[2018-10-31 16:57] lindstro commented on #23
There are no immediate plans to support half precision, although parts of zfp have been designed to eventually accommodate both half and quad precision.  Currently the best workaround is to convert half precision values to single precision before compressing.

We might prioritize half precision support if we get enough requests.  Would you mind telling us more about your use case and how zfp would

[2018-11-01 01:28] yunhua-deng commented on #23
Thanks. If I understood it correctly, the complete workaround is: f16 <coonvert to> f32 -> compression -> decompression -> f32 <convert to> f16, right?

We are working on compressing the tensor data being exchanged between different traning servers in a  distributed Tensorflow setting. The tensor data could be in single or half precision.

zfp, compared to others like lz4 or zstd, is much more pow

[2018-11-01 15:31] lindstro commented on #23
Yes, that's currently the best workaround.

Thanks for describing your problem.  I'm surprised you're getting only 100 MB/s throughput using zfp.  I assume this is for single precision and low-dimensional data?  Have you experimented with zfp's OpenMP or CUDA implementations?  We're seeing about 100-150 GB/s throughput on an NVIDIA V100.

[2018-11-05 10:16] yunhua-deng commented on #23
Yes, it's 1-d array of single-precision (float32) values (1MB in size), please find the attached sample file for doing measurement. Below is the very simple compression test done in my Windows 64-bit laptop with Intel i7 CPUs. The ctime and dtime are for compression time and decompression time, respectively, excluding the file input/output latency. I tried with OpenMP but nearly no help in terms o

[2018-11-06 05:04] lindstro commented on #23
@yunhua-deng, thanks for sharing your data.  It appears to be uncorrelated (random) in space, making it not a great candidate for zfp compression.  zfp was designed for data that varies "smoothly" along each dimension.

If you still want to use zfp, then I would suggest treating the data as multidimensional, as for uncorrelated data there's no penalty in doing so, but some potential benefits.  You

[2018-11-06 06:54] yunhua-deng commented on #23
Thanks for clearifying and showcasing the usage of dimensionality information for compressing with zfp. I am surprised to see the benefits on error reduction when treating the data as multidimensional array with some specified size on each dimension.

This kind of data is very hard to compress using traditional lossless compressors like lz77 codecs. Going to float16 instead of float32 or using los

[2018-11-06 21:00] lindstro commented on #23
Part of the reason for the error reduction is that, for a fixed tolerance, zfp increases the precision with dimensionality to meet that tolerance.  Part of the reason why storage does not increase much in spite of higher precision is that the common exponent within each block of 4^d values is amortized over more values in higher dimensions, d.  With the data being more or less random, no true comp

[2018-11-15 16:20] drdanz opened #25 "Installing "memory.h" conflicts with libc6"
The line:

https://github.com/LLNL/zfp/blob/25a554e061a5323542f0e21fce2ee84e723ae774/CMakeLists.txt#L240

installs a `memory.h` file in `<prefix>/include`.
On debian, ubuntu and several other linux distributions, the `/usr/include/memory.h` is installed by `libc6-dev`.

This causes a conflict:
1) The libc version of the file is overwritten if the prefix is `/usr`
2) When searching for the libc ver

[2018-11-15 16:22] drdanz commented on #25
CC @vvasco @barbalberto

[2018-11-15 17:12] lindstro commented on #25
@drdanz, we are aware of these issues and are planning on a major revamp of the zfp directory structure for the next release, including CMake changes to isolate zfp headers from system headers.  Most if not all zfp headers will be placed under a zfp subdirectory.

We have a major release planned for March but may do another release before then to address this issue and others.

[2018-11-16 11:48] mohamed opened #26 "Link error for endtoend tests due to missing rt library"
`endtoend` tests fail to link giving the following error:

[code]

Adding `rt` to `target_link_libraries` in the `zfp_add_test` function in `tests/src/endtoend/CMakeLists.txt` fixes the problem.

[2018-11-16 13:19] mohamed commented on #26
@lindstro @mclarsen I uploaded a fix in #27.
My setup is:
- RHEL 6
- GCC 4.9.3
- CUDA 8.0.44
- CMake 3.5.2

[2018-11-19 16:41] mclarsen commented on #26
I have seen this before on another project. I don't think it has anything to do with CUDA, but i'll take a look when I have a chance. I am on travel this week, but working.

[2018-11-19 16:55] mohamed commented on #26
@mclarsen You are right Matt. This has nothing to do with CUDA. It is in the endtoend tests which live only in the develop branch. It has to do with old glibc (see https://stackoverflow.com/questions/2418157/c-error-undefined-reference-to-clock-gettime-and-clock-settime). Older glibc require an explicit linking of 'rt' library.

[2018-11-24 11:07] systemed commented on #17
Minimising RAM usage is crucial for me - I keep elevation for the whole of Europe and North America memory-resident, plus a routing graph with [Contraction Hierarchies](https://en.wikipedia.org/wiki/Contraction_hierarchies) which are pretty memory-hungry. So I was anxious to find the sweet spot between good-enough results and saving memory.

After a bit of experimentation, I've found that fixed ra

[2018-11-26 02:38] lindstro commented on #17
Thanks for clarifying.  For a fixed rate of 2 bits/value and 2D arrays, you would have 2 bits/value * 16 values/block = 32 bits/block.  So you should be able to get away with a word size of 32 bits, which might outperform 16-bit words.

[2018-11-29 20:01] mathomp4 opened #28 "Building static library with cmake?"
All,

I'm trying to build H5Z-ZFP so first I need to build zfp (0.5.2, because it seems to be the latest supported version). However, when I did:

[code]
So, no `libzfp.a`, and if I look at my zfp build:

[code]
My `cmake` line was:
`cmake -DCMAKE_INSTALL_PREFIX=$(prefix)/zfp -DZFP_BIT_STREAM_WORD_SIZE=8 ..`

Is there an extra option I need to pass to CMake to generate the static library as well a

[2018-11-29 20:04] mathomp4 commented on #28
As a note, I'm eventually going to try and use `zfp` with netCDF files, so I'll probably be a frequent guest at  this and/or the H5Z-ZPF issues because I've never tried the netCDF filter interfaces. :)

[2018-11-29 20:07] lindstro commented on #28
Try adding

    -DBUILD_SHARED_LIBS=OFF

to the cmake line.

To my knowledge, Unidata has not yet added zfp support, but I suppose this can be achieved via H5Z-ZFP.

[2018-12-14 09:23] mohamed opened #32 "endtoend test fail on Cygwin"
endtoend tests fail on Cygwin because CMake no longer defines `WIN32` under Cygwin.
To fix this, we have two options:
1) Check if `__CYGWIN__` is defined
2) Use `__unix__` instead of `__linux__`. The Unix macro seems to be defined on Cygwin

I uploaded a fix on #31

[2018-12-14 09:30] mohamed opened #34 "Use http:// instead of git://"
In many companies, the git:// protocol is blocked by corporate firewall. To circumvent that, use http:// instead of git://

I uploaded a fix in #33

[2018-12-14 12:24] LennartNoordsij opened #36 "Warp divergence in deposit bit plane"
The loop writing bit planes was missing a static loop bound.
Adding the loop bound eliminates Warp divergence and speeds up things.
In addition, the unrolling factor was missing from the loop.

I have uploaded a fix in #35

[2018-12-14 12:51] mohamed commented on #26
@salasoom I have verified the fix on Linux today. It works fine. I will close this issue.

[2018-12-14 12:51] #26 closed

[2018-12-17 07:21] Falken42 commented on #23
I'd like to chime in as someone else who would enjoy having direct half-precision float support in zfp.

We're currently working on a project where we stream 2D disparity/depth maps from a RGBD camera and need to transfer the data in realtime over a cellular network, so compression is a must.  As depth maps arrive from the camera in float16 format, we first need to convert them to float32 before p

[2018-12-17 16:49] lindstro commented on #23
@Falken42 Thanks for your feedback.  I'm thinking we could initially add support for half precision to the high-level interface only (not to the C++ compressed arrays).  What complicates full support is that half precision is not a standard C type, so we'd either have to rely on a third-party library (which we try to avoid), limit support to, say, gcc's __fp16, or write our own implementation.  Th

[2018-12-29 00:36] lindstro commented on #28
@mathomp4 Can you please let us know if this resolves your issue?  If so, then I'll go ahead and close it.

[2018-12-30 20:12] mathomp4 commented on #28
@lindstro Yes, that gave me the .a, though I could just never figure out how to get zfp in netCDF. I might try it again soon...

[2018-12-30 20:12] #28 closed

[2018-12-30 22:49] lindstro commented on #28
Thanks for confirming.  Regarding zfp and netCDF, this is a question best directed to Mark Miller, the author of H5Z-ZFP.

[2019-01-09 15:43] LennartNoordsij opened #39 "Add support for OpenMP decompression"
I upload a patch in #38 to add support for OpenMP decompression.
This patch is not compatible with the ZFP header. We need to align on how to combine both of these features.

[2019-01-10 01:44] salasoom commented on #34
Pull request #33 has been merged.

I am seeing the following error on my macbook while at my workplace: `fatal: unable to access 'https://git.cryptomilk.org/projects/cmocka.git/': SSL certificate problem: self signed certificate in certificate chain`

I've tried downloading the certificate from that URL through my browser, and then used `git config --global http.sslCAinfo <path-to-downloaded-certi

[2019-01-10 09:38] mohamed commented on #34
The SSL certificate of cryptomilk is issued by Let's Encrypt (https://letsencrypt.org/). Let's Encrypt certificates are trusted by all major browsers by now. A screenshot from my browser (Firefox 64.0) shows the following trust chain:

![image](https://user-images.githubusercontent.com/110086/50958894-0749d180-14c2-11e9-85da-39d1d3072e15.png)

I suspect that you get the SSL error due to an old git

[2019-01-10 12:26] LennartNoordsij opened #41 "Unchecked mallocs in parallel.c"
The function compress_init_par in the file parallel.c contains the following unchecked mallocs
https://github.com/LLNL/zfp/blob/25a554e061a5323542f0e21fce2ee84e723ae774/src/share/parallel.c#L51
https://github.com/LLNL/zfp/blob/25a554e061a5323542f0e21fce2ee84e723ae774/src/share/parallel.c#L54

I uploaded a fix in #40

[2019-01-11 21:30] salasoom commented on #32
#31 is now merged. We used `__unix__` instead of `__linux__`

[2019-01-11 21:30] #32 closed

[2019-02-07 04:57] markcmiller86 opened #44 "Persisting ZFP compressed arrays"
Thought'd be better to capture discussion here instead of email ;)

I don't have a lot of experience designing C++ objects or their interfaces but I am wondering...from the perspective of a ZFP compressed array, what is the proper/ideal interface for persisting it?

Here is an idea I have with the goal of making it easy to integrate ZFP's compressed array implementation with HDF5 without having to

[2019-02-09 19:50] lindstro commented on #44
Mark, I think the issue of storing a compressed array to file is a little out of scope for the zfp API itself.  The 0.5.5 release will have support for serializing a compressed array to memory and a factory function for constructing an array from an in-memory compressed buffer (see https://github.com/LLNL/zfp/tree/feature/compressed-array-header).  These functions use zfp's header to fully describ

[2019-02-09 21:13] markcmiller86 commented on #44
Regarding other forms of *writing* (or *reading*) a ZFP compressed array...I agree.

You don't want to complicate ZFP implementation with this or add depdendencies on other packages people might serialize ZFP arrays through (e.g. MPI, HDF5, etc). I get that. I agree.

But, without providing some abstraction in ZFP itself (you don't have to call it *load* or *store*, call it *stream_out* and *strea

[2019-02-11 02:29] lindstro commented on #44
Currently we do not have a code example that writes zfp arrays to disk.  Nor am I aware of an application that does this, although I do expect this to become a more common use case in the future as apps start adopting zfp arrays in their computations.  This is one reason why we're adding  a mechanism to [Conduit](https://github.com/LLNL/conduit) for expressing zfp arrays as Conduit nodes.

What I

[2019-02-12 06:40] romankarlstetter opened #45 "zfp python wrapper problems with "big" multidimensional arrays"
I experience a problem when compressing some 3d numpy array (using the implementation discussed in #29, using ebe63fa16213eb8d5cb09068e2f8f973d0d694f8 from branch feature/py-bindings).

When compressing an array that has a shape of `(4, 4, s)`, where `s > 2^16`, the shape of the decompressed array is not correct anymore.
### How to reproduce:
[code]

When using a shape of `(16, 65537)`, this does

[2019-02-12 06:52] lindstro commented on #45
This is currently a limitation of zfp's very concise header, which limits each array to 2^48 elements.  In d dimensions, each dimension is at most 2^(48/d) elements, i.e., 2^16 in 3D.  I agree that this is not very satisfactory, and is something that we will address in the future.  For now, this should be documented and we should throw an exception when dimensions are out of range.

[2019-02-13 22:53] markcmiller86 opened #47 "Would help to set version no in branches targetted for given release"
Was using feature/lossless branch to enhance H5Z-ZFP.

I want H5Z-ZFP to conditionally compile against various versions of ZFP.

In this case, I wanted to do something like...

[code]

But, building against ZFP's feature/lossless branch, my tests were all failing because that branch still has version number set at 0.5.4.

[2019-02-14 00:07] lindstro commented on #47
I understand the motivation, but one problem with this is that any branch off the develop branch is just that--work in progress.  We don't necessarily know for sure in which release any given feature will end up.  I pointed you to this branch so you could see what the API will look like in preparation for the 0.5.5 release.  Your ifdef should work in a month or so.  As is our practice, we'll creat

[2019-02-18 12:48] romankarlstetter commented on #45
Maybe this limitation should also be mentioned in https://zfp.readthedocs.io/en/release0.5.4/limitations.html

[2019-02-24 18:24] opoplawski opened #49 "bitstream.h is a very generic name"
Much like #25, "bitstream.h" is a very generic name and at the very least should be installed in under the include/zfp/.

[2019-02-24 19:59] lindstro commented on #49
Agreed.  We're considering a complete re-organization of the directory structure to better address issues like this.

[2019-03-08 03:00] pythonmobile opened #51 "regression testing requires BIT_STREAM_WORD_TYPE=uint64"
Any particular reason why regression testing does not support BIT_STREAM_WORD_TYPE=uint8?

[2019-03-08 06:40] lindstro commented on #51
@pythonmobile You raise a valid question.  The simple answer is that each new test (as currently written) requires manually recording the result of a checksum, and zfp has hundreds of these tests that depend on and have been designed for the default word size of 64 bits.  For portability across big and little and endian platforms, the H5Z-ZFP filter requires an 8-bit word size, and we really ought

[2019-03-19 09:46] jvo203 commented on #44
What about mmap-backed ZFP compressed arrays? I ended up modifying array/zfparray.h and array/zfparray3.h after importing the whole zfp-0.5.4 into own github project:

https://github.com/jvo203/FITSWebQL

The 3D cubes that need to be handled in the near future are astronomical (they come from radio-astronomy and their sizes are "astronomical"): over 256TB uncompressed per cluster node. There is no

[2019-03-20 00:40] lindstro commented on #44
@jvo203 We will not have mmap support right away.  The main issue is dealing with ownership of memory.  Currently zfp arrays own their own memory, and our (de)serialization API will make a deep copy in case the user allocates data for compressed storage themselves (as would be needed with mmap).  We're considering adding support for shallow copies by maintaining who owns the relevant memory buffer

[2019-03-20 01:01] jvo203 commented on #44
Thank you for a prompt response. Regarding NaNs, what would be the recommended optimum replacement value to put in partially-filled blocks? The arithmetic mean of all the other non-NaN values? We also have blocks that contain nothing but NaNs, in which case I guess 0.0 would be OK.

Checking for NaN and putting 0.0 is done in a separate SIMD code that goes through each widthxheight 2D plane at onc

[2019-03-20 01:30] lindstro commented on #44
Unfortunately, the optimal padding is not a single fill value but depends on the spatial configuration of available values.  For partial blocks, zfp uses one of the up to three available values within the same block of four values along one dimension.  For optimal compression, a better solution would be to perform a polynomial fit, but that can result in overshoots that lead to overflow.

Yes, tha

[2019-03-20 01:50] jvo203 commented on #44
Yes, the pre-processing part (endianness, NaNs, non-value bit masks) only needs to be done once, upon the first-time reading of an astronomical FITS file containing a 3D data cube. Afterwards, all the subsequent data accesses only read the FITS file header (skipping the FITS data cube) and go directly to an offline already-compressed ZFP cube (mmapped file).

Radio-astronomy FITS data cubes: width

[2019-03-20 21:36] raffaele96 opened #52 "Array size must be nonzero"
Hi, zfp -i datafile not working, the message is "array size must be nonzero", the same if i try to decompress, may you help me?

[2019-03-20 21:42] lindstro commented on #52
It sounds like you're not specifying the array dimensions using -1, -2, -3, or -4.  Can you please provide the complete command line you're using?

[2019-03-20 21:56] raffaele96 commented on #52
With this suggestion I tried zfp -i test.dat -d -1 2 -a 0.5 -s -o output.dat
But I'm not sure it works. The file test.dat is an array of 2 double elements saved in binary in c with fwrite.
I'm studying the topic recently, I'm still a bit confused. Thanks for your help

[2019-03-20 22:11] lindstro commented on #52
This is correct usage assuming you want to compress only two double-precision values, which admittedly is not a realistic use case for any compressor.  Note that -o output.dat will write an uncompressed file that is the result of (lossy) compression followed by decompression.  Use -z if you wish to write the compressed data to file.

[2019-03-21 09:07] raffaele96 commented on #52
Thank you very much, now everything works!

[2019-03-21 14:30] lindstro commented on #52
You're welcome.

[2019-03-21 14:30] #52 closed

[2019-03-26 07:39] cucrui opened #53 "Segenmtation fault when runing"
I want to compress 1059810*3 float array with zfp

[code]

and when I debug, it comes out

"Program received signal SIGSEGV, Segmentation fault.
0x00007f4f34f92e3e in zfp_encode_partial_block_strided_float_2 () from /usr/local/lib/libzfp.so.0"

below is partial assembly code, but I cant understand it whats that means(never learn assemble language)

[code]
anyone can give some suggestions?

[2019-03-26 15:41] lindstro commented on #53
This example runs fine for me (with and without valgrind) when xyz is allocated as 3*1059810 floats and initialized to all-zeros.  I suspect that you have not allocated enough space for xyz.  I would suggest running your code with valgrind to see if it complains.

This said, I question whether you're using zfp the way it's intended.  xyz presumably is an unstructured list of xyz coordinates.  Such

[2019-03-27 07:22] cucrui commented on #53
Thanks for your reply. Im a undergraduate student, and Im doing my graduation project about point cloud data compression, thats why I got xyz data（depth data）, I firstly using PCL compresion module to compress point cloud data, and this method cannot achieve real-time compression(The result is not ideal)，so I try to use ZFP lib.
I run my code whit valgrind, and it comes out error below

[code]

I

[2019-03-27 14:16] lindstro commented on #53
You do indeed allocate sufficient memory for the xyz coordinates in `get_raw_data_from_Point_cloud`, but the caller of this function will never know where that memory has been allocated since the xyz pointer is passed by value.  In other words, the caller's copy of the xyz pointer is never updated, and instead its default value of zero is passed to zfp, which causes the segmentation fault.

If usi

[2019-03-28 08:47] cucrui commented on #53
Really thanks for your reply, after changing pointer as reference to a pointer, the above bug disappeared.
And the compress ratio were 1.2, truly disappointing, aha.

I have another question that if I want to transfer compressed bitstream with internet, which byte syream should I send(buffer?zfp_stream?bit_stream? from simple.c), and decompressed. I try to decompress with
buffer but when it goes t

[2019-03-28 22:17] lindstro commented on #53
zfp writes the compressed data to `buffer`, so that's what you'd transmit.  This buffer is just a raw sequence of bytes, whereas zfp_stream is an object that among other things contains a pointer to the buffer.  Casting `buffer` to `zfp_stream *` is the wrong thing to do.  In simple.c, you'll want to call `zfp_stream_rewind(zfp);` before decompressing.  This should be evident by looking at the cod

[2019-03-29 00:24] cucrui commented on #53
If I just transmit `buffer` to the other end point, how can I get zfp_stream object for `zfp_stream_rewind(zfp)`，namely should I transmit  other onformation that struct `zfp_stream` contains
thanks for your reply~

[2019-03-29 00:37] lindstro commented on #53
Yes, you need to ensure that `zfp_stream` is set up with the same compression parameters and that `zfp_field` is intialized with the same array dimensions, scalar type, etc.  This is easiest done using `zfp_write_header` and `zfp_read_header`.  See the [tutorial](https://zfp.readthedocs.io/en/release0.5.4/tutorial.html#high-level-c-interface) part of the documentation, which discusses this further

[2019-03-29 00:39] cucrui commented on #53
I'll try. Really thanks for your reply, you are so kind to patiently answer my question.
Best wishes!

[2019-03-29 00:58] lindstro commented on #53
You're welcome.  Good luck on your project.  Since this issue is not a problem with zfp, I'm closing it.

[2019-03-29 00:58] #53 closed

[2019-03-29 05:45] alichnewsky opened #54 "cfp library not part of install package"
pull request upcoming.

[2019-03-29 16:55] lindstro commented on #45
@romankarlstetter I've pushed a "fix" on the develop branch that now checks the array dimensions and makes sure they can be encoded in the header.  If not, then `zfp_write_header` fails, which will also cause the Python compression code to report failure.  The documentation has been updated to include this limitation.  We plan on including this fix in the next release.

This isn't the most satisfa

[2019-03-31 02:44] lindstro commented on #54
@alichnewsky Thanks for your PR.  This issue is now addressed on the develop branch and will be included in the next release.

[2019-03-31 02:44] #54 closed

[2019-03-31 02:44] #45 closed

[2019-04-02 03:24] cucrui commented on #53
sorry to bother you. I meet another problem with below code
[code]
`buffer` is compressed buffer with write zfp header, and I pass it with `bufsize` to this decompress function, but when I read header from this buffer, it failed. How can I fix it.

[2019-04-02 04:12] lindstro commented on #53
After reading the header, you're rewinding the stream to where the header presumably starts.  Thus, `zfp_decompress` is accessing header data rather than compressed data.  You should rewind the stream before reading the header, not after.  The same goes for compression, i.e., rewind before writing the header and not before calling `zfp_compress`.

[2019-04-02 07:12] cucrui commented on #53
I switch `zfp_stream_rewind` before `zfp_read_header`, and I get data type, nx, ny, nz in field, but I still meet segmentation fault when using `zfp_decompress`

[2019-04-02 14:58] lindstro commented on #53
It's difficult for me to guess what's going wrong without access to your code or any information that might shed light on the problem.  Can you please include your code both for compression and decompression, including any memory allocation being done?

[2019-04-03 01:42] cucrui commented on #53
here is my code
[code]

[2019-04-03 03:06] lindstro commented on #53
You have not specified the memory location to decompress the data to.  `zfp_read_header` sets the field dimensions and scalar type, but you then have to allocate and set the pointer to decompressed data via `zfp_field_set_pointer`.

[2019-04-11 12:57] cucrui commented on #53
Follow your instruction, code run successfully,But decompressed data is far different from original data.I set tolerance as 1e-3.

[2019-04-11 14:43] lindstro commented on #53
Can you please post the revised code?

[2019-04-12 08:20] cucrui commented on #53
Ok, my float array doesn't come for this loop
[code]
after fixed above code it all run correctly, but when data come from my point cloud that [x,y,z] are all float type, it goes wrong. Below is code for compress point cloud
[code]

[2019-04-12 15:43] lindstro commented on #53
I see two problems: `field->type` is just an enumerated type, so `sizeof(field->type)` returns the size of that type, while you want this to be `sizeof(float)` (in your case).  More generally, you can call `zfp_type_size(field->type)` to get the byte size of the scalar type represented by `field->type`.

The more serious problem has to do with setting `field->nz = 1` when decompressing.  This inst

[2019-04-13 01:43] cucrui commented on #53
Debug successfully! Really appreciate! Thank you!

[2019-04-24 00:24] harshithamenon opened #58 "Missing default constructor for zfparray view"
In certain cases having a default constructor for the zfparray view class is helpful. For example, when the view is part of another object.

[2019-05-07 19:02] lindstro commented on #44
@markcmiller86, @jvo203: I wanted to let you know that we have released zfp 0.5.5, which adds support for (de)serializing compressed arrays.  This is actually quite straightforward (see the examples [here](https://zfp.readthedocs.io/en/release0.5.5/arrays.html#serialization) for how to do this using `fread` and `fwrite`).

The API does not yet support `mmap`, for the reasons already discussed.  Do

[2019-05-07 19:05] lindstro commented on #41
The missing `malloc` tests (and related tests for failure) have been added to the recent 0.5.5 release and are now on the master branch.  I'm closing this issue.

[2019-05-07 19:05] #41 closed

[2019-05-07 19:09] #44 closed

[2019-05-07 19:17] lindstro commented on #25
@drdanz After closer inspection, `memory.h` is being installed in `<prefix>/include/zfp`, not in `<prefix>/include`.  So there ought not be a conflict.  I believe this holds for zfp 0.5.x, although I verified it only in the recent 0.5.5 release.  Can you please confirm?

`bitstream.h`, on the other hand, currently does get installed in `<prefix>/include`.  We will address this in the next release,

[2019-05-07 19:18] lindstro commented on #22
This fix has been added to zfp 0.5.5 and has been pushed to master.  I am closing the issue.

[2019-05-07 19:18] #22 closed

[2019-05-08 01:42] jvo203 opened #59 "mmap-backed persistent ZFP arrays"
It would be nice to be able to save to/restore compressed ZFP arrays from mmapped files. At present a crude workaround has been applied to zfparray.h:

added three extra variables to the array class:
std::string storage; //persistent storage via mmap
  bool is_mmapped;
  size_t storage_size;

and then alloc() / free() have been changed too:

// allocate memory for compressed data
  void alloc(bool

[2019-05-08 03:57] lindstro commented on #59
@jvo203 Thanks for the suggestion and code.  I think this capability is not mmap specific but would be generally useful when the caller has already allocated and initialized a buffer with compressed data.  I think a constructor that takes such a pre-allocated buffer would be the right approach.  I'd rather have the caller than zfp deal with memory mapping, which requires platform specific code.

T

[2019-05-08 05:16] jvo203 commented on #59
One thing to bear in mind: the reason for putting mmap inside the array class is the need to know the exact size of the buffer that needs to be allocated via mmap. At present this is calculated inside array::alloc():
bytes = blocks * blkbits / CHAR_BIT;
once blocks and blkbits are known.

To work-around C++ allocating/deallocating zero-sized ZFP arrays during some C++-specific internal copy operat

[2019-05-08 06:54] drdanz commented on #25
I think it was fixed by c4858c5ac2e73c6537ebe28b04776c23be68cb08, therefore it's fixed in 0.5.2.
Closing, this issue.
Thanks!

[2019-05-08 06:54] #25 closed

[2019-05-10 18:35] lindstro commented on #59
@jvo203 You make a good point.  We could add a static function that returns the compressed size of an array of given dimensions, scalar type, and rate.  Another option is to add an optional Boolean to the constructors (or as a template parameter) to tell zfp not to allocate memory.  Yet another option is to template the zfp arrays on an allocator class.  Or to make the `alloc` function virtual.

W

[2019-05-11 02:13] jvo203 commented on #59
@lindstro  At the very least making all the memory-related functions like alloc/free virtual would be most welcome (and easiest for you!). At first I tried to extend zfp by adding a custom class with the mmap logic hidden inside but because alloc()/free() were protected but not virtual, C++ would not let me override these crucial methods. So making alloc()/free() override-friendly would be at the

[2019-06-25 20:42] martinradev opened #62 "ZFP-0.5.5 doesn't adhere to user-specified absolute error"
ZFP significantly overshoots the specified absolute error for some tests.

An easy way to repro the issue is to use the following test data:
http://www.cs.txstate.edu/~burtscher/research/datasets/FPsingle/msg_bt.sp.spdp
You will have to decompress it using the SPDP decompressor.

To compress I used the compression utility but the bug can be reproduced also using the API.
Command to compress:
```./

[2019-06-25 21:31] lindstro commented on #62
@martinradev This is expected behavior and is discussed in [FAQ 17](https://zfp.readthedocs.io/en/release0.5.5/faq.html#q-tolerance).

You're essentially asking zfp to represent the single-precision data at an accuracy higher than what IEEE single precision supports.  That is, the requested error tolerance is smaller than machine epsilon relative to the value being represented.  Although the error

[2019-06-25 21:49] lindstro commented on #62
Let me add to this: The largest value (in magnitude) in this data set is around 1.1e10.  You would need about 14 digits of accuracy to represent such values to an absolute error tolerance of 1e-4.  Single precision is accurate to about 6 digits, while double precision is accurate to about 15 digits.  Thus, any error tolerance smaller than 1e10 / 1e6 = 1e4 likely cannot be respected for this single

[2019-06-25 22:51] martinradev commented on #62
I would have expected that the compressor can determine the range [-L,L] for which it is safe to discard data. ZFP could handle the situation by not discarding information for values outside of the range.

If I would specify a huge absolute error so that large values are handled correctly by zfp, what prevents zfp from representing values close to 0 as 0s?

The SZ compressor does not introduce the

[2019-06-26 04:53] lindstro commented on #62
zfp really should be thought of as a different numerical representation of the reals rather than as a compressor of IEEE-754 (single- or double-precision) floating-point values.  For finite and fixed precision (or storage), the sets of reals representable by IEEE and zfp differ.  There are IEEE values that zfp cannot represent, just as there are reals that zfp can represent but IEEE cannot.  In th

[2019-06-26 07:37] martinradev commented on #62
Thank you for you detailed answer, Peter.

So, the cause is the transformation to Q3.60 and block transform in zfp?
The absolute error is still preserved but in the frequency domain, not in the original domain. Once the data is converted back to the original domain, considering infinite precision the error would have stayed within the user-specified threshold. However, since the representable rang

[2019-06-26 22:54] lindstro commented on #62
You're essentially right.  Perhaps a more accurate characterization is that the conversion between IEEE and zfp is not one-to-one.  Going back to the integer vs. float analogy, multiple floats round to the same nearest integer (hence the float-to-int conversion is not injective).  For example, all floats in the interval [1.5, 2.5] round to the integer 2.  When then converting the integer back to f

[2019-07-09 04:30] impredicative opened #64 "Provide pip and/or conda installable Python package"
It would really help to have a `pip` installable Python 3.7 compatible package published on https://pypi.org/ . This could then be updated whenever there is a new release of zfp. It will lower the barrier to using zfp. Thanks.

[2019-07-10 00:05] lindstro commented on #64
Agreed, but unfortunately our Python developer has moved on to another project.  Any assistance with this would be appreciated.  In case it's helpful, I do have a pypi account.

[2019-07-10 00:34] impredicative commented on #64
In that case, do you have a FTE opening for a Python developer?

[2019-07-10 00:59] lindstro commented on #64
I'm afraid I don't have sufficient funding for an FTE, nor do I have enough work to keep a Python developer busy long term.

[2019-07-22 13:38] LennartNoordsij commented on #36
This issue was solved by merging #35

[2019-07-22 13:38] #36 closed

[2019-07-22 13:38] LennartNoordsij commented on #39
Closed until the design objective and implementation are aligned

[2019-07-22 13:38] #39 closed

[2019-07-30 23:42] #62 closed

[2019-07-30 23:48] lindstro commented on #47
@markcmiller86 Can I close this issue or do you have any suggestions on how to handle this better?  As I previously said, it is difficult to bump the version number on feature branches until we know for sure in what release a particular feature will appear.  Any dependent software, like H5Z-ZFP, should probably not depend on a feature branch that has not yet been merged with a release branch.  But

[2019-07-30 23:56] #47 closed

[2019-07-31 05:19] jayvdb commented on #64
Dummies guide to packaging is to do `python setup.py test` , ensure that works, and then run PyPI `check-manifest` to ensure `MANIFEST.in` is complete, and then `python setup.py sdist` and use `twine` to upload it to PyPI.

Then get some python people to build it at home, fix any errors, etc, and then in the next release also do `python setup.py bdist_wheel` which is better for normal users.

[2019-08-02 02:00] jayvdb commented on #16
ping @ast ;-)

[2019-08-02 08:24] ast commented on #16
That's amazing!

[2019-08-05 14:35] NAThompson opened #66 "make install overwrites googletest"
When running `make install`,  the `gtest` headers are installed to `/usr/local/include`, overwriting any version of `gtest` that might already be installed.

[2019-08-06 18:35] salasoom commented on #66
I have verifed this happens when Makefiles are generated through CMake, on the `develop` branch.

In the meantime if you need to install headers, I would suggest checking out the `master` branch (pointing to the latest release of ZFP), or downloading an official release [here](https://github.com/LLNL/zfp/releases).

We changed the default branch from `master` to `develop` because incoming pull req

[2019-08-14 20:02] markcmiller86 opened #69 "cfp_ or cfp. in docs"
In the docs where [cfp interface](https://zfp.readthedocs.io/en/release0.5.5/arrays.html#c.cfp_array1f) is described, I think there are numerous instances of use of `cfp_arrayXx` that should really be `cfp.arrayXx` (e.g. dot and not underscore). I would have submitted PR but honestly wasn't absolutely sure either.

[2019-08-14 23:19] salasoom commented on #69
You're correct on these. I've fixed them in this commit on `develop`
https://github.com/LLNL/zfp/commit/a7e77cc1feafdaf4189c21f5b18b1f49f9702c37

[2019-08-14 23:19] #69 closed

[2019-08-17 05:18] markcmiller86 opened #70 "stream_word_bits declared outside extern "C""
in `include/bitstream.h`, shouldn't the declaration for `stream_word_bits` be put *inside* the extern "C" block?

[code]

[2019-08-17 05:20] markcmiller86 opened #71 "cases where bitstream type is used without including bitstream.h"
`zfp.h` includes `bitstream.h` and so that kinda sorta hides this issue. But, zfp applications such as the file compressor, `zfp` or the simple example use `bitstream` types without a `#include <bitstream.h>`

[2019-08-19 19:29] lindstro commented on #70
See `include/zfp/system.h`, where the `extern_` macro expands to `extern "C"` when a C++ compiler is used.  This macro is also used for Windows DLL storage-class attributes.

[2019-08-19 19:37] lindstro commented on #71
@markcmiller86 Can you please state more clearly what the issue is?  `bitstream.h` is included in `zfp.h` by necessity, since some of the zfp API functions take a `bitstream` struct.

I should point out that the bit stream API is special in that it allows calling both nonstatic and static (inlined) versions of the same function (by including `src/inline/bitstream.c` directly).  The latter is usefu

[2019-08-19 19:53] markcmiller86 commented on #71
In `src/utils/zfp.c`, the type `bitstream` is used as well as several methods from the bitstream API. But, there is no `#include "bitstream.h"`. I think there should be. That API is defined in `bitstream.h` isn't it. Its just a matter of current implementation that it is used (and therefore included in) `zfp.h`. In fact, the forward declaration `typedef struct bitstream bitstream;
` would elleviat

[2019-08-19 20:32] markcmiller86 commented on #70
Its still confusing. If `extern_` means `extern "C"`, why are both used within a few lines of each other?

[2019-08-19 20:32] #70 closed

[2019-08-19 21:12] lindstro commented on #70
Depending on context, `extern_` expands to one of

- `extern`
- `extern __declspec(dllexport)`
- `extern __declspec(dllimport)`
- `extern "C"`
- `extern "C" __declspec(dllexport)`
- `extern "C" __declspec(dllimport)`

For reasons unknown to me, Microsoft requires the `__declspec` stuff for data but not for functions.  I'm also not sure if `extern "C" __declspace(dllexport) { <function declarations

[2019-08-19 22:06] lindstro commented on #71
I see your reasoning.  However, the bit stream API is officially part of zfp and gets built with `libzfp`.  Hence, including `zfp.h` should be sufficient to expose the whole zfp API.

Note that the bit stream module has been written to be its own standalone library, independent of zfp, that can be used with other compressors; hence the lack of a `zfp_` prefix.  For example, a future rewrite of fpz

[2019-08-19 22:27] markcmiller86 commented on #71
*concern* may be too strong a word. I just happened to notice and since I viewed these two APIs as rather distinct even if interdependent, I thought I would mention it.

And, I am likely a little more concerned with implementation than any consumer of ZFP ordinarily would be because I am embedding the lib in Silo and its implementation effects that a bit.

[2019-08-19 22:27] #71 closed

[2019-09-09 14:34] NAThompson opened #73 "Feature request: Compute bound in error"
In [this](https://epubs.siam.org/doi/pdf/10.1137/18M1168832) paper, equation 5.1 and 5.2, the uniform norm error of the compression scheme is bound in terms of a constant K_b. Could this be computed in code, for example, if I parametrize zfp in some way, can I test those parameters against K_b before I do any compression?

[2019-09-09 15:27] lindstro commented on #73
I'm not quite sure I understand the question and what you mean by parameterizing zfp.  Given that k, q, and d are fixed constants, K_b depends only on the user-specified number of bit planes, b, to keep, which in zfp translates to the parameter in [zfp_stream_set_precision.](https://zfp.readthedocs.io/en/release0.5.5/high-level-api.html#c.zfp_stream_set_precision).

Assuming x is represented in IE

[2019-09-09 15:33] lindstro commented on #73
Perhaps your question is whether K_b can be computed for you by a zfp function so that the user does not need to worry about the details of the formula 5.2.  That would indeed be a reasonable request.  We can add such a function.  Alternatively, we can compute beta given some desired "relative" error tolerance.

[2019-09-09 15:51] NAThompson commented on #73
Yes, the second interpretation is correct. My apologies for lack of clarity.

[2019-09-09 16:53] lindstro commented on #73
I will note that Eq 5.2 does not provide a point-wise relative error bound but rather bounds the max error relative to the max norm, M = |x|_infinity.  Let t = M K_b be the right-hand side of Eq 5.2.  Then you can ensure that the max error does not exceed t by calling [zfp_stream_set_accuracy](https://zfp.readthedocs.io/en/release0.5.5/high-level-api.html#c.zfp_stream_set_accuracy) with t as the t

[2019-09-09 17:25] NAThompson commented on #73
@lindstro : In fact I think that will work. Thanks!

[2019-09-25 18:12] #73 closed

[2019-10-02 14:56] cayrols opened #75 "GPU issue ?"
Dear all,

I want to use zfp on GPU and for that, I am doing some bench.
I have uncommented the line #define CUDA_ZFP_RATE_PRINT 1 in shared.h file and did some runs.
The code is working well for 3D cubes of size of 100, 200, 300, 400 and 500.
However, we have noticed that for 3D cube of size 600, 700, or even 550 the run fails.

Let A be a 3D cude of size 600.
It turns out that the decompression

[2019-10-02 21:23] lindstro commented on #75
Looking at the log file, I suspect that the combined output to stdout and stderr is appearing out of order, as "Unable to allocate d_Array on the GPU" should not appear before "GPU execution on data of size."  Maybe print all output to the same stream?

Anyway, if CUDA allocation of the data that is to be compressed failed, then I would not expect the subsequent call to `zfp_compress` to do anythi

[2019-10-02 22:27] cayrols commented on #75
Thank you for your quick response.
I am sorry to not double check the log file.
When I compress and decompress a 3D block of size 10, it works.
Then, when I do the same for a 3D block of size 600, the compression seems to work, and then during the decompression, I got this 'inf' but with a returned value that is not 0.
Finally, when I recall the compression/decompression on the 3D block of size 10

[2019-10-02 22:42] lindstro commented on #75
I see.  Let us look at this and see if we can reproduce the problem.  Does [CUDA-MEMCHECK](https://docs.nvidia.com/cuda/cuda-memcheck/index.html) report any issues?

If the data is already on the GPU, then what you're doing makes sense.

[2019-10-03 14:14] cayrols commented on #75
I run cuda_memcheck and obtained 393 errors, shown in
[cuda_memcheck_output.log](https://github.com/LLNL/zfp/files/3683937/cuda_memcheck_output.log)

[2019-10-04 15:42] cayrols commented on #75
I run cuda_memcheck and obtained 393 errors, shown in
[cuda_memcheck_output.log](https://github.com/LLNL/zfp/files/3691264/cuda_memcheck_output.log)

[2019-10-06 23:27] markcmiller86 opened #76 "Rationale for double negation (!!)"
Just curious what the rationale is for the double negation,
https://github.com/LLNL/zfp/blob/068f8150ffc055680fa15c430edb5fed8186bb7c/tests/testzfp.cpp#L434 appearing above and in many other places in this same file?

[2019-10-06 23:32] markcmiller86 commented on #23
Just an FYI...at the 2019 Smokey Mountain Conference (SMC) just this August, I saw several presentations focused on using half precision; either IEEE compliant variants or homegrown pseudo-equivalents. Have a look at the [first half of Aug 28th agenda](https://smc.ornl.gov/schedule/)

[2019-10-07 01:43] lindstro commented on #76
`!!x` simply means `x != 0`.  Sometimes such comparisons get flagged as a sign mismatch, e.g., `x` is unsigned in this case while `0` is signed.  So then you need `x != 0u` or perhaps even `x != 0ul.`

You might argue that `y = x` would work in this case, but when `y` is a Boolean, this can result in loss of precision compiler warnings when there is no explicit cast.

`!!x` avoids these pitfalls.

[2019-10-07 01:57] lindstro commented on #23
Thanks for the pointer.  Some of these talks are from colleagues working on LLNL's [Variable Precision Computing](https://computing.llnl.gov/projects/vpc-variable-precision-computing)project.  I myself am involved in [development](https://posithub.org/conga/2018/techprogramme) and [standardization efforts](https://posithub.org/docs/posit_standard.pdf) of some of these new number types (other than

[2019-10-07 03:06] markcmiller86 commented on #76
Hmmm. Never seen or enountered that sort of thing before. Thanks for explanation.

[2019-10-07 03:06] #76 closed

[2019-10-07 14:49] lindstro commented on #76
It's a reasonably common idiom in C.  Perhaps less so in C++.  See https://stackoverflow.com/questions/248693/double-negation-in-c-code/248698 for further discussion.

[2019-10-11 17:39] lindstro commented on #75
@cayrols I ran your example, which succeeds for me:

GPU execution on data of size 10x10x10 => 8000
Error is 0.00e+00
GPU execution on data of size 600x600x600 => 1728000000
Error is 0.00e+00
GPU execution on data of size 10x10x10 => 8000
Error is 0.00e+00

The error is not being reported correctly as I had to comment out the BLAS code (I don't have BLAS installed on this machine).  Moreover, cuda

[2019-10-14 21:43] mclarsen commented on #75
I was unable to easily compile this program. I don't have a local machine to try this. I battled cmake on a GPU cluster and was not able to get it to link. Given that you were also unable to reproduce this, I am not sure if I should try to create a cmake project that will generically look for all the dependencies while making sure the compilers are consistent across the libs.

[2019-10-14 21:47] lindstro commented on #75
@mclarsen I, too, had issues (due to BLAS dependencies) but gave you a tar ball on LC that should build.  Did you try that?

[2019-10-14 22:08] mclarsen commented on #75
Ok. So I compile and ran it without issues.

My setup was a p100, cuda 10.1.168 and gcc 4.9.3 as the host compiler.

@cayrols Can you add some more details on how this was compiled?

[2019-10-16 20:25] kmpaul commented on #64
@lindstro Would there be interest in making a conda package for zfp/zfpy instead of pip?  Pip is nice for pure python packages, but it's not the best for python packages with special C/C++ dependencies.

If this would be of interest, I think I can direct some effort to this tomorrow.

[2019-10-16 20:26] kmpaul commented on #64
...Although, I agree that a wheel would be good, too.

[2019-10-16 21:04] impredicative commented on #64
@kmpaul Speaking as a user, yes, conda works fine.

[2019-10-16 21:27] lindstro commented on #64
@kmpaul Thanks for the offer!  Python is not my strength, and I'm not sure I'm qualified to answer your question.  Of course, any contributions that simplify life for our Python users are welcome.

I'm roping @GarrettDMorrison in on this, who is our resident Python expert.

[2019-10-17 15:43] kmpaul commented on #64
I definitely think that a conda forge package for zfp would be loved by many.  So, since I'm in a hackathon for the next day (or two), I'll go ahead and start making some progress on this.  If the result is something you like, we can transfer ownership.

[2019-10-17 15:55] kmpaul commented on #64
Of course!  And I'm happy to transfer ownership.  I understand that you all might be busy, though, so I happen to have some free cycles at the moment to do it.

[2019-10-17 16:30] lindstro commented on #64
Awesome!  Thank you so much for your contributions, Kevin.

[2019-10-17 20:21] kmpaul commented on #64
@lindstro You're more than welcome.  Thanks for the awesome `zfp` package!

Incidentally, who should I list as "conda recipe maintainers"?  I need github user IDs for everyone who will be (willing to be) a "maintainer" of this conda recipe.

[2019-10-17 20:27] lindstro commented on #64
I hope you're willing to be one of them :-)  Please add me and @GarrettDMorrison.

[2019-10-17 20:29] kmpaul commented on #64
Yes.  I'm the first person on the list.  :-)  And I'll stay there.

I'll add you and Garrett.  Thanks!

[2019-10-18 03:14] jayvdb commented on #64
Someone should register https://pypi.org/project/zfp/ , even if it is only an empty package, to reserve the name.  One of the first questions of distro packaging is "what name to use", and for Python to first answer is "the PyPI name".

[2019-10-18 04:00] lindstro commented on #64
@jayvdb I'd be happy to do so through my PyPI account but could use some help.  I know there is documentation out there, but I cannot dedicate hours to figuring out how to set up an empty package at this time.  Is there an easy way to just register the package?

[2019-10-18 20:16] cayrols commented on #75
Thanks for your feedback.

Since then, I have tried on both Volta and Pascal GPUs. Both generating the same issue. I have tried to use gcc4.9.4 (4.9.3 is not installed on the machine).

So, I did as follow,
$ git clone https://github.com/LLNL/zfp.git zfp-exp
$ cd zfp-exp && mkdir build && cd build && cmake -DBUILD_EXAMPLES=ON -DZFP_WITH_CUDA=ON ..

then I compile the example and you already have t

[2019-10-19 02:10] impredicative commented on #64
@lindstro I have now registered [zfp](https://pypi.org/project/zfp/) on PyPI. I believe it is not necessary to do anything at all with this PyPI package right now, since @kmpaul is targeting an initial conda-forge package instead.

If I were to nevertheless transfer it, I suppose I would require an LLNL service account to grant ownership to, with @lindstro and @GarrettDMorrison added as maintainer

[2019-10-28 18:58] lindstro commented on #64
@impredicative Thanks for setting this up.  If you'd like to transfer the project, my PyPI account is lindstro.

[2019-10-28 22:45] vkrGitHub opened #77 "ZFP header for GPU compression"
Dear all,

I am trying to generate a `.zfp` file with a header using CUDA. Using the zfp util on the command line, a serial test gives:
[code]
`test.zfp` has size `50188912` and can be correctly decompressed using:
[code]
But doing the same with the `cuda` flag, i.e.:
[code]
Now `test.zfp` has size `50188896`, and
[code]
gives ` incorrect or missing header`. When doing the decompression with all t

[2019-10-28 23:19] lindstro commented on #77
I can confirm this incorrect behavior.  Let us look into it and see if we can get you a patch.

[2019-10-28 23:40] lindstro commented on #77
A quick inspection reveals that `internal::setup_device_stream` ignores the positioning of the bit stream pointer and in effect rewinds the stream, resulting in the header being overwritten.  Although fixing this should in principle be easy, the CUDA implementation currently starts encoding on a word-aligned address, and the header is not necessarily a whole number of words.  I suspect that this w

[2019-10-28 23:42] impredicative commented on #64
@lindstro Done. You now have Owner level access to it. From here you can adjust its permissions accordingly. Please however refer to the second paragraph of my prior post though for maximizing security and for organizing it to outlast any one person.

[2019-10-29 00:13] lindstro commented on #64
@impredicative I demoted you to maintainer and will add @GarrettDMorrison as owner.  I also set up 2FA.

We could still use some help with setting up the pip package, in case anyone is willing to contribute.

[2019-10-29 13:40] impredicative opened #78 "Cert expired"
The https cert associated with the following site has expired:

https://computation.llnl.gov/projects/floating-point-compression

I would personally use a new cert that expires monthly and have an automated process to renew it. This will exercise some automation skills and will eventually prevent the cert from expiring by surprise. Thanks.

[2019-10-29 14:52] lindstro commented on #78
Thanks for letting us know.  I've notified those responsible.

[2019-10-29 14:55] lindstro commented on #78
Actually, that's a bad link.  The correct one is https://computing.llnl.gov/projects/floating-point-compression.  It appears our README file needs to be updated.

[2019-10-29 14:57] lindstro commented on #78
Duh!  This is a result of our department's recent name change from "computation" to "computing."  Anyway, I'll try to chase down all obsolete links.

[2019-10-29 15:11] impredicative opened #79 "Compare with grib2 format"
grib2 is a format commonly used by NWS for compressing spatially correlated weather forecast data, among other uses. I am curious how grib2 and zfp would compare both in theory and in practice, and if a hybrid would make sense. Thanks.

[2019-10-29 18:26] lindstro commented on #79
My understanding of GRIB2 is that it's based on quantizing floating-point data to integers (following quantization levels determined to be appropriate for each physical quantity) and then applying JPEG2000, PNG, or other standard image compression algorithms to 2D slices.  Both JPEG2000 and PNG are limited in the precision and data dimensionality they support.  The JPEG2000 spec does have extensio

[2019-10-29 18:49] lindstro commented on #78
The deprecated URL now forwards to the new URL.  I'm closing this issue.

[2019-10-29 18:49] #78 closed

[2019-10-29 19:38] #79 closed

[2019-10-30 13:33] vkrGitHub commented on #77
Thanks for the quick response @lindstro

Indeed for the application I am working on a header is not strictly necessary (although it would be the most elegant solution).

I was currently working on something in the ways of the short term solution you mentioned. The way I approached this was by creating a dummy zfp structure and parameters (stream, bitstream, etc) on the host, call `zfp_write_header

[2019-10-30 14:43] lindstro commented on #77
@vkrGitHub I think the decompression issue you're seeing may have something to do with word alignment.  Does this issue occur also if you generate the compressed file (with a header) on the host?

Either way, we are working the issue but it will likely take a couple of weeks until we have a fix.

[2019-10-30 19:19] cayrols commented on #75
Peter,

Thank you for your reply.
I have slightly modified the report_issue.c file in order to give the cube size as a parameter.

I have then run the following command:
for i in $(seq 1 12); do x=$((50 * i)); echo -n "$x : "; cuda-memcheck ./report_issue $x | grep errors; done

and got the following output on the V100 gpu :
50 : ========= ERROR SUMMARY: 0 errors
100 : ========= ERROR SUMMARY: 0 e

[2019-10-30 20:44] lindstro commented on #75
Let me make sure I understand.  Are you saying that `cudaMalloc` succeeds but the code is generating tons of CUDA memory errors?  If `cudaMalloc` fails, then I would expect the code to terminate immediately with no further errors.

[2019-10-30 20:46] cayrols commented on #75
I just did additional runs and found that the code does not work when the cube size is greater than 512.

 Using cuda_gdb, I got the following output:
(cuda-gdb) r 513
Starting program: /home/scayrols/workspace/zfp/build_full/bin/report_issue 513
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
warning: File "/spack/opt/spack/linux-scientifi

[2019-10-30 20:48] cayrols commented on #75
@lindstro you are right. CudaMalloc succeeds, the encoding seems to work but not the decode3

[2019-10-30 21:20] lindstro commented on #75
Well, I had a suspicion that this could be related to 32-bit integer overflow, but 512^3 * sizeof(double) = 2^30, so there's still some wiggle room.  Moreover, we cannot reproduce these issues on our side, so there's something else at play.

I do see some issues with the CUDA code that will kick in when the number of scalars exceeds 2^32, but you're not there yet.  These issues need to be fixed.

[2019-10-31 15:08] cayrols commented on #75
I have made the simplest example I could do while keeping the bug.
Please find it in the attachment.

Two options to use it (detailed using -h):
-x the size of the cube
-v the value of compression on the GPU

I have found other parameters that also raise some errors.
Note that, I am using the macro CUDA_ZFP_RATE_PRINT

When I do
for i in 8 16 32 ; do ./report_issue -x 500 -v $i; done >issue_gpu_di

[2019-10-31 23:30] lindstro commented on #75
I simply cannot reproduce these problems:

% cuda-memcheck ./report_gpu_zfp_issue -x 500 -v 16
========= CUDA-MEMCHECK
[GPU] Rate compression (param 16.000000) on data of size 500x500x500 => 1000000000
========= ERROR SUMMARY: 0 errors
% cuda-memcheck ./report_gpu_zfp_issue -x 500 -v 17
========= CUDA-MEMCHECK
[GPU] Rate compression (param 17.000000) on data of size 500x500x500 => 1000000000
=====

[2019-11-01 13:36] cayrols commented on #75
@lindstro
Thank you for all your efforts.

I will try to find another machine to test it.

In the meantime, could you send me your cmake log so that I can check if something is missing on my side ?

Thanks

[2019-11-01 15:11] cayrols commented on #75
I just installed the code on another machine with cuda 9.1.85 and gcc 4.8.5 and got the same issue.

Could you provide me your CMakeCache.txt so that I can check everything ?
Could you also provide me the output of ldd ?

Which machine do you use ? I could try to have access to it.

[2019-11-01 19:40] lindstro commented on #75
[CMakeCache.txt](https://github.com/LLNL/zfp/files/3799368/CMakeCache.txt)

% ldd bin/report_gpu_zfp_issue
	linux-vdso.so.1 =>  (0x00002aaaaaacd000)
	libzfp.so.0 => /g/g19/pl/tmp/zfp/zfp/build/lib64/libzfp.so.0 (0x00002aaaaaccf000)
	libm.so.6 => /lib64/libm.so.6 (0x00002aaaaafe8000)
	libgomp.so.1 => /usr/tce/packages/gcc/gcc-7.3.0/lib64/libgomp.so.1 (0x00002aaaab2ea000)
	libpthread.so.0 => /lib64/

[2019-11-03 18:52] vkrGitHub commented on #77
Sorry for the late reply. I can confirm it does not occur when using a header to compress/decompress using host functions

[2019-11-04 21:13] lindstro commented on #77
My apologies--my question wasn't very precise.  What happens if you perform compression (including generation of a header) on the host and then perform decompression on the device?

[2019-11-06 22:14] vkrGitHub commented on #77
I see. My application (seismic snapshots) now only needs modules for compressing on the GPU and decompressing on the host. As of now I only made wrappers for host compress/decompress and GPU compress (no decompress yet). As they are based on `zfp.c` from the util folder, there is probably no difference in using the command-line `zfp` or a (soon-to-be implemented GPU decompress) wrapper; so, finall

[2019-11-06 23:01] lindstro commented on #77
@vkrGitHub Thanks for sharing these results.  Yeah, I believe both the compressor and decompressor ignore the current bit stream offset and start (de)compression at offset zero.  It's akin to implementing `fread` and `fwrite` by first forcing a `rewind` on the file.  When a header is prepended, the bit stream offset will be nonzero.

Are you OK with calling `zfp_compress` yourself instead of using

[2019-11-06 23:03] lindstro commented on #75
@cayrols FYI, I'm seeing the same behavior on a P100.  The earlier tests were done on a K40m.

[2019-11-07 18:33] drdnichols opened #80 "Efficient sub-cube access"
I would like to have a fast sub-cube access to a raw buffer from the C++ array classes.
I note that for the whole cube looping over the elements is 2-3x slower than using get(Scalar *p).

The view logic isnt faster as it basically ends up going through the same point-by-point assessors.

I implemented a in function (in zfparray3.h) that has the signature
get(Scalar *p,   uint sub_x, unit sub_y, ui

[2019-11-07 18:44] lindstro commented on #80
@drdnichols I agree that it makes sense to support this functionality.  I would have to think a little about the semantics of `view::get()`, as some of the views maintain their own cache.  But the core `array` API ought to be reflected in `view` also.  In the end, I suspect that `view` would mostly be implemented in terms of your more general `array::get()` function, so an argument could be made t

[2019-11-08 03:15] lindstro commented on #58
A view should be thought of as a reference that generalizes single-element access to contiguous subarray access.  Built-in references in C++ cannot be default initialized or reseated, nor is such functionality available for zfp's `array::reference` or STL's container references (though `std::reference_wrapper` supports this behavior).  As far as I know, C++'s `mdspan` views of multidimensional arr

[2019-11-13 23:16] vkrGitHub commented on #77
Thank you for the suggested workaround, @lindstro . I managed to do what I was supposed to do by using a custom header prepended to raw `.zfp` files (saved with no header, by the CPU or GPU).

I tried the workaround but did not manage to make it work. Right now, and as the problem is fixed, I don't have the time (probably the time+skill) to dig deeper into the proposed solution. Below is my (hacky

[2019-11-13 23:55] lindstro commented on #77
I took a quick look at your code, and I see several issues.

First, `hdrsize` in `cuda_set_zfp3D_struct2` is not used correctly.  The idea is to ensure that the offset, `begin`, that the header begins on (in the 2nd `zfp_write_header` call) is such that `begin + hdrsize` is a multiple of 64 bits.  You therefore want to call `stream_wseek(cuBitstream, begin)`.

Second, in `cuda_zfp_compressed_to_zf

[2019-11-14 15:42] lindstro commented on #77
Before investing more time in this workaround, we will be working on fixing this bug over the next few days.  Once we have a fix, it will initially appear on the develop branch.  The next official release is still a couple of months away.

[2019-11-15 15:22] lferraro opened #81 "How to get the number of uncompressed bytes from zfp_decompress"
Hello, I'm playing with the ZFP High level API and found that the [zfp_decompress](
https://zfp.readthedocs.io/en/release0.5.5/high-level-api.html#compression-and-decompression) function returns the number of compressed bytes found in the stream, while I was expecting to return the number of uncompressed bytes extracted from the compressed stream.

The reason I wish to know the uncompressed byte c

[2019-11-15 15:39] lindstro commented on #81
You cannot call `zfp_decompress` without already knowing this information.  The reason is that you have to set up a `zfp_field` structure that contains the dimensions and scalar type of the decompressed array, from which you can easily determine the number of uncompressed bytes.

As a user, you either have to store the field metadata separate from the compressed stream or you can use zfp's header

[2019-11-20 08:53] #81 closed

[2019-11-22 06:44] anilbommareddy opened #82 "Question- Sample test Data (example-seismic ) Info"
Question 1:
=======
Is any sample test data(example seismic data) or sample test files Info provide to understand and test  on compress and decompress ,to test on OpenMP and ZFP serial stream
example: zfp -f -3 201 201 2412 -r 4 -x serial -i snaps.bin -z test.zfp -h

[2019-11-23 20:47] lindstro commented on #82
You may try data sets on [SDR Bench](https://sdrbench.github.io) and [JHTDB](http://turbulence.pha.jhu.edu).

[2019-11-24 00:17] mohamed opened #84 "Wrong use of memset"
memset in two files had the wrong order of parameters. I uploaded a fix in PR #83

[2019-11-26 11:51] anilbommareddy opened #85 "AMD GPU-3D Test Cases Failed like testZfpCuda3dDouble,testZfpCuda3dInt32.."
Cuda source changes are convert into HIP(Hipify). ZFP source changes run in AMD GPU(vega10).

On "make test" command- test cases are executed.

[AMD_ZFP_Trace.zip](https://github.com/LLNL/zfp/files/3891707/AMD_ZFP_Trace.zip)

97% tests passed | 4 tests failed out of 155
Total Test   time (real) = 145.29 sec
The   following tests FAILED: |  
92 -   testZfpCuda3dInt32 (Failed)
95 -   testZfpCuda3dIn

[2019-11-27 19:08] lindstro commented on #85
@anilbommareddy Thanks for reporting this.  As an unofficial extension of zfp, I'm not sure we can devote much time to this until we start porting zfp to HIP sometime next year, but knowing that hipify alone is not sufficient is helpful.  Can you please let us know what branch and commit you're working off of?

[2019-12-03 06:01] anilbommareddy commented on #85
@lindstro  Thanks for the response and update on ZFP porting.
In fact. we are at developing stage on porting in AMD environment  and working only in the local branch.Once the source changes are testable and it  will be release officially in Git Hub.

[2019-12-04 15:47] kmpaul commented on #64
I realized that I never posted that `zfpy` is now on conda-forge.  Has been for a little while.  In fact, if you look here (https://anaconda.org/conda-forge/zfpy) you can see that it already has >600 downloads.

Note that this package is meant to build `zfp` and install the `zfpy` Python bindings, so the package is named `zfpy`.

[2019-12-05 14:35] #84 closed

[2019-12-05 15:25] jayvdb commented on #64
Please also reserve https://pypi.org/project/zfpy/ to avoid it being misused by someone else.

[2019-12-05 15:54] impredicative commented on #64
I will do this.

[2019-12-08 03:35] impredicative commented on #64
Done. @lindstro and @GarrettDMorrison are now its Owners.

[2019-12-09 23:03] lindstro commented on #64
Thanks, @impredicative.

[2019-12-27 20:45] #82 closed

[2020-01-14 10:53] peter-zajac opened #86 "zfp/types.h header is not C++ safe"
When trying to use the zfp library for a C++ project, we have encountered a warning regarding the use of the `__STDC_VERSION__` macro at the very beginning of the `zfp/types.h` header file. The problem is that the g++ compiler does not define this macro, because it considers itself to be a C++ and not a C compiler, as pointed out in the documentation in https://gcc.gnu.org/onlinedocs/cpp/Standard-

[2020-01-14 18:06] lindstro commented on #86
Let me make sure I understand the issue better.  The C and C++ standards guarantee that any undefined macros are replaced with 0:

(See C90/6.8.1, C99/6.10.1, C++98/16.1.)  Thus, if `__STDC_VERSION__` is undefined, then `__STDC_VERSION__ >= 199901L` is expanded to `0 >= 19901L`, which evaluates to false, as intended.  Is your concern that some compilers may issue a warning in spite of perfectly le

[2020-01-15 10:06] peter-zajac commented on #86
First off, I want to apologize if my first post came over somewhat arrogant or if it sounded like I'm questioning your competence, because that was not my intention (and English is not my native language).

You are of course correct about that `#if` statement being perfectly legal C/C++ preprocessor code. However, as far as I have seen, it seems that you and the other authors consistently check wh

[2020-01-15 17:34] lindstro commented on #86
No need to apologize--I just wanted to better understand the issue and the circumstances that triggers it.  I also suspect that g++ emits this warning only in very special cases, such as when `-Wundef` is turned on (which obviously is an explicit ask for such warnings).  Using `g++ -std=c++98 -pedantic -Wall -Wextra` (with gcc 4.8.5), no warning is emitted for the following code:

[code]

There's

[2020-01-16 10:37] peter-zajac commented on #86
I just had a discussion with my colleague who has pointed me to this warning in the first place and it seems that we had a misunderstanding regarding what his problem actually was.

First off, you are right about that one has to explictly add `-Wundef` to the command line parameters for g++ to trigger this warning. My colleague told me today that he had manually enabled this warning in our project

[2020-01-17 02:59] lindstro commented on #86
I can see how taking different paths between C and C++ can lead to different types and potential issues.  This is something that is [explicitly tested](https://github.com/LLNL/zfp/blob/bbcded5853f7bb9876e53195379d98bd3305593f/tests/testzfp.cpp#L977) for in `testzfp.cpp`.  In the rare event that types do differ, it's up to the user to supply compatible types via `ZFP_INT64` etc.  This is simply a c

[2020-01-27 21:02] chuckyount opened #87 "CXXLAGS?"
`cfp/src/Makefile` contains the following link rule:
[code]
Is `CXXLAGS` correct, or should it be `CXXFLAGS`?

[2020-01-27 22:15] lindstro commented on #87
@chuckyount Good catch.  I've pushed a fix on the `develop` branch.

Note that on macOS you may have to add `-undefined dynamic_lookup` to `SOFLAGS` (see the `Config` file) when building shared libraries.  For example, `make BUILD_CFP=1 BUILD_SHARED_LIBS=1 SOFLAGS="-undefined dynamic_lookup"`.

[2020-01-27 22:18] lindstro commented on #86
@peter-zajac I've pushed a fix on the `develop` branch that addresses the two issues you mentioned.  Please let me know if this addresses your concerns.

[2020-01-31 00:05] #87 closed

[2020-02-03 14:48] peter-zajac commented on #86
Sorry for the delayed reply, but we have been quite busy the past few days. I have talked to my colleague who has tested your fix and the g++ compiler has successfully stopped issuing warnings now. Thank you very much for your effort.

PS: Do you have an anticipated release date for the version 0.5.6 source tarball?

[2020-02-03 15:13] lindstro commented on #86
I'm hoping we'll roll out 0.5.6 in the next couple of months.  I unfortunately do not have a more precise date than that.

[2020-02-03 15:13] #86 closed

[2020-02-05 14:47] lindstro commented on #75
Since we cannot seem to reproduce this issue and haven't had anyone else report it, I'm going to close the issue for now.

[2020-02-05 14:47] #75 closed

[2020-02-25 06:13] jvo203 opened #88 "slower compression speeds of zfp-0.5.5 compared to v0.5.4"
Hi Peter,

Has anything changed substantially in v0.5.5? It is my impression that compression speeds have dropped compared with the prior v0.5.4. My code uses mutable private views to compress a single 3D cube of float32 in parallel. Each parallel OpenMP task compresses a distinct NxMx4 mutable private view. Basically, on a repeatable basis the new version 0.5.5 seems to take about twice as long c

[2020-02-25 06:26] lindstro commented on #88
Hi Chris,

The one thing that has changed in 0.5.5 is the default cache size, which now should work better for very "tall" arrays (and for 1D arrays) but might result in smaller caches for square arrays.  I would suggest looking into `set_cache_size` and `cache_size()`.  The latter reports the actual cache size used by a compressed array.  I'd be interested in finding out if the cache size is smal

[2020-02-25 06:33] jvo203 commented on #88
That was fast! Judging by the following code, the cache size is getting set to 0. (It had been a deliberate decision). As per your code comments the cache parameter is "at least csize bytes of cache" so ZFP might be setting it internally to higher values.

zfp::array3f *cube = new zfp::array3f(width, height, depth, 4, NULL, 0);

I will check the values reported by cache_size(). Yes, pressures on t

[2020-02-25 06:53] jvo203 commented on #88
Indeed the reported cache sizes are way different. The 3D cube in question is 1120 x 1600 x 952, the binary file is about 6.8 GB large.

ZFP 0.5.4 (faster) reports
private_view cache size before (67108864) and after a flush (67108864) bytes

ZFP 0.5.5 (slower) uses
private_view cache size before (2097152) and after a flush (2097152) bytes

Cache sizes are reported from each 1120 x 1600 x 4 mutable

[2020-02-25 06:58] jvo203 commented on #88
That was it. Doing

zfp::array3f::private_view view(cube, 0, 0, start_k, width, height, depth_k);
view.set_cache_size(67108864);

printf output: private_view cache size before (67108864) and after a flush (67108864) bytes

in version 0.5.5 restores its speed to that of 0.5.4. Thank you!

[2020-02-25 07:06] jvo203 commented on #88
There is a limit to speed gains. Doubling the cache to ```view.set_cache_size(2 * 67108864);``` has a zero effect on speed.

[2020-02-25 07:25] lindstro commented on #88
The cache size and performance relationship tends to be quiet nonlinear.  Especially for multidimensional arrays, you'll often see one or more plateaus in performance.  See Fig 7 in the original zfp paper as an example.

Performance also depends greatly on the memory access pattern.  If at all possible, I would suggest using zfp's iterators to visit the array sequentially in block order.

The reas

[2020-02-25 07:33] jvo203 commented on #88
OK.

[2020-02-25 07:33] #88 closed

[2020-02-26 16:29] GarrettDMorrison commented on #66
Closing this as the issue should now be fixed.

[2020-02-26 16:29] #66 closed

[2020-03-04 03:07] lljjgg opened #89 "How to get the error value and compression speed"
Hi：
   I use zfp to compress floating point data.and I want to get Absolute error and Compression speed.But This information is not included in the output.Can I get this information from the program?if it is possible，what should I do.Looking forward to your reply，Thank you.
lljjgg

[2020-03-04 04:45] lindstro commented on #89
The maximum absolute error is reported as 'maxe' by the zfp command-line tool using the `-s` option.  Other error metrics are reported, as well.

Since execution time can be somewhat difficult to measure and port across operating systems, we don't include such statistics in the output of the zfp utility.  However, adding such instrumentation to `zfp.c` should be straightforward for time-critical a

[2020-03-05 06:32] lljjgg commented on #89
Thanks ,I get.By the way ,I find that the CUDA implementation supports only fixed-rate mode.In the future,Will it support others mode?For example fixed accuracy.Thanks again for your reply,Thanks

[2020-03-05 15:49] lindstro commented on #89
We are working on adding CUDA support for all of zfp's compression modes.  There are a number of challenges associated with parallel variable-rate decompression, as that requires storing an index of compressed blocks that currently is not supported by the zfp codestream.  Thus, there are necessary changes to the zfp API and format that we need to work through.

If you're interested in the technica

[2020-03-19 17:45] leventt commented on #51
just as a note... i came across this while searching for endianness for an emscripten build...

BIT_STREAM_WORD_TYPE=uint64
is necessary for emscripten build as well, i feel like.

Has there been any changes on the HEAD, regarding this and would you know a best revision to build little endian compatible zfp?

[2020-03-19 17:51] leventt commented on #51
latest release 0.5.5 works great so far for the build \o/

here is my script to build if it helps someoneelse:

`cd zfp
git checkout tags/0.5.5
git pull
mkdir build
cd build
emcmake cmake .. -DBIT_STREAM_WORD_TYPE=uint64
cmake --build . --config Release
`

[2020-03-19 18:01] lindstro commented on #51
`BIT_STREAM_WORD_TYPE=uint64` is required only by the tests, as we have not yet added checksums for other word sizes.  I'm not familiar with emscripten and so cannot comment on why using other word sizes would be problematic.

I will say, however, that zfp streams generated using different word sizes are not generally compatible.  Although streams generated on little endian machines with a word si

[2020-03-19 18:07] leventt commented on #51
I don't think I need little endian compatibility tbh. It was just a build error :)
Emscripten, I guess is compensating for old machine online but I think I should be fine, since I will only need it on client side machines and my host machine is using the python wrappers for zfp. Let me find out and I can make a note here if you like if it works or not.

Thanks for the insight and the amazing code

[2020-03-24 15:57] leventt opened #91 "Python compression C decompression?"
Is it supported to compress in python but decompress in C?

I am serving a compressed stream via python rest api and reading it on browser with emscripten compiled zfp, or at least that is what I am hoping.

My code is here for the C part:
https://github.com/leventt/yakamoz.io/blob/master/zfpHelper.cxx

and here is the python one:
https://github.com/leventt/yakamoz.io/blob/master/main.py (line 128

[2020-03-24 16:18] lindstro commented on #91
Yes, this is supported, but you need to be careful to ensure that Python and C array layouts are consistent.  By default, NumPy uses C ordering (rightmost index varies fastest), while zfp assumes Fortran ordering (leftmost index varies fastest).  Try changing the ordering of dimensions to (3, 8320, 120) in your C code.

This can all be done more safely by making use of zfp's header mechanism.  See

[2020-03-24 16:31] leventt commented on #91
Thanks for the insight \o/

I would also like to contribute emscripten interface for JS when I am done, if it may be helpful to someone. Let me know what the guidelines might be and if all goes well, I will get to it.

[2020-03-24 16:31] #91 closed

[2020-03-24 18:37] lindstro commented on #91
Thanks for your offer.  While we're supportive of such an effort, it's unclear at this point that the user base would be sufficiently large that we'd want to incorporate (and therefore commit to maintain) such an interface directly into zfp proper.  For most projects developed outside the core zfp team, we provide links off the [zfp website](https://computing.llnl.gov/projects/floating-point-compr

[2020-03-24 18:38] lindstro commented on #91
Sorry, I didn't see that you already closed the issue.  I assume all is well, then.

[2020-03-24 18:41] leventt commented on #91
Fair enough for the contribution information...

For the issue, I don't like to keep it open as I am not actively working to integrate it but only trying to do as my as I can in the free time, while I train my model.

When I tried what you suggested I got an array with all zeros but at this point, I don't want you to waste your time since emscripten also may have some endianness incompatibility.

[2020-03-24 18:52] lindstro commented on #91
I took a closer look at your C code and saw some issues.  You should pass `compressedBytes` to `stream_open`.  The `zfp_flush` call is not needed--it's used only when compressing.  I'm unsure what `fmemopen` and `rread` used for here--I would remove them.  I think with those changes you should be good.

[2020-03-24 19:22] leventt commented on #91
Yes! That fixes the 0 bytes :D

Now they are wrong values on emscripten/wasm side :)
I believe the endianness was an issue after-all

Oh well. Thanks for all your generous help. I really appreciate it.

[2020-03-24 19:29] lindstro commented on #91
I may have given you bad advice on reversing the dimensions.  Looks like we're already doing that in the Cython code, e.g., `field = zfp_field_3d(pointer, ztype, shape[2], shape[1], shape[0])`.  My apologies.

[2020-03-24 20:00] leventt commented on #91
Actually numpy can dump bytes in both orders:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.tobytes.html

But decided to move onto trying brotli before coming back to zfp. Let me see if that may be faster for me to implement, for now.

[2020-03-24 20:39] lindstro commented on #91
It's true that NumPy supports both C and Fortran order.  It even supports noncontiguous storage, e.g., in the case of slicing.  zfp handles this correctly by examining the strides employed by the ndarray.  The compressed stream has no knowledge about the in-memory representation of the uncompressed array, however.  It's up to the user to specify how the uncompressed array is laid out.  Additionall

[2020-03-24 20:43] leventt commented on #91
It wasn't comparable to zfp indeed. I will just need to get by before coming back to zfp is my hope. I will bother you more :)
I may ask when I get to it how to create such header from python as it wasn't obvious but I am thinking about making a helper function in C again for python and use pybind11 perhaps. Etiherway that won't be immediate and thanks for your time. I really appreciate your help

[2020-03-24 21:06] lindstro commented on #91
The Python part is easy--just pass `write_header = True` to `zfpy.compress`.  Come to think of it, this header is enabled by default, so you must call `zfp_read_header` before `zfp_decompress` in your C code.  Look in utils/zfp.c for an [example](https://github.com/LLNL/zfp/blob/079c409fcb53de5a06fa4336972c04869e33c48d/utils/zfp.c#L554) of how this is done.  This fills in the compression parameter

[2020-03-24 23:10] leventt commented on #91
that worked like a charm... let me try that on emscripten side as well :) also I found out that even though I was defining my dtype for numpy array as 32 bit float, results were double according to the header.

[2020-03-25 00:23] lindstro commented on #91
Glad to hear it's working.  The zfp scalar type should definitely match the NumPy `dtype`.  Are you certain that the `dtype` of the `ndarray` passed to `zfpy.compress_numpy` is `float32`?  I assume you're calling `zfp_field_type` after `zfp_read_header` to inspect the zfp scalar type.

[2020-03-25 00:25] leventt commented on #91
my bad :) I removed the dtype argument at some point. thanks again for all your time \o/

[2020-03-25 00:35] lindstro commented on #91
I'm happy to help.  Best of luck with zfp.

[2020-03-31 01:19] #89 closed

[2020-04-01 13:33] SoBinary opened #93 "Half nyquist freq spectra difference spike"
If compressing an array of numbers containing a time series wavelet 32bit floats to 16bit fixed rate mode.  If a difference is taken between the original and after compression/decompression the frequency spectrum is perfectly flat (which is great) apart from a minor spike at half nyquist.

Is this an expected feature?

[2020-04-01 15:02] lindstro commented on #93
I wouldn't say that it's expected, though the error is weakly spatially correlated, as detailed further in [this paper](https://www.researchgate.net/publication/337322546_A_Collaborative_Effort_to_Improve_Lossy_Compression_Methods_for_Climate_Data).  The error bias correction discussed in the paper is implemented on a [feature branch](https://github.com/LLNL/zfp/tree/feature/unbiased-error).  To u

[2020-04-01 18:06] SoBinary commented on #93
That does indeed fix my problem.  I assume this only affects decompression since the checksums of the files compressed with zfp_head and zfp_unbiased are identical but the decompressed file checksums are different.

left is original data, middle is fx display of zfp, right is the zfp unbiased FX
line half way down FX (half nyquist) is what the unbiased fixes
![image](https://user-images.githubuser

[2020-04-01 18:50] lindstro commented on #93
Yes, this affects only decompression.  As an analogy to rounding floating-point numbers, any truncated mantissa bits ought to be replaced with the bit sequence 1000... (or 0111...) to eliminate bias upon reconstruction, assuming the value represented by the truncated bits is uniformly distributed.  Something very similar is done in the unbiased version of zfp, though the correction is applied to z

[2020-04-01 21:08] SoBinary commented on #93
Your help is very much appreciated.  The software is fantastically useful and equally appreciated.

[2020-04-01 21:08] #93 closed

[2020-04-08 07:19] ashkildighin opened #94 "[Query]-OpenMP-Cuda in HPE"
I would like to run ZFP in HPE(Hewlett Packard) environment. I'd following the questions.
1. An execution OMP(opneMP)needs to install OpenMP?. if yes please let me is any specific version required.?
2 To run OMP test cases, need to set both OMP_NUM_THREADS and omp threads?
3.ZFP using OpenMPI, mean it will Support Multi compute node(Cluster).?
4. Could you please provide a larger(20-50GB) data set

[2020-04-08 17:11] lindstro commented on #94
OpenMP support is optional, but an OpenMP implementation needs to be installed if you wish to use this execution policy.  zfp uses only the parallel for construct from OpenMP, which has been part of OpenMP since its inception.  I believe any version of OpenMP should work with zfp.

You can specify the number of OpenMP threads to use via OMP_NUM_THREADS or just use the default based on the number o

[2020-04-17 08:25] wangyibin0011 opened #95 "ARM64"
Excuse me, ZFP support ARM64 system？

[2020-04-17 14:59] lindstro commented on #95
We have not tested zfp on ARM64, but I see no obvious issues.  If you have access to such a system, I would appreciate any feedback you might be willing to share on your experiences.  I would suggest working off the `develop` branch, which includes extensive testing.

[2020-04-17 18:23] lindstro commented on #95
I was able to get access to an ARM64 system.  All tests pass using gcc 4.8.5.

[2020-04-20 05:48] #95 closed

[2020-04-20 05:49] #94 closed

[2020-04-20 19:44] ashkildighin commented on #94
@lindstro  Thank you for the answers.
My last question, how to understand and measure GPU Performance(Performance metrics) on  Cuda test cases.
By using nvprof(profiler tool -GPU % and kernel time ) or time code using CUDA events (Encode elapsed time and Encode rate)?

2.  Encode 700 an illegal memory access was encountered. An Error because of out of GPU memory(dim 1000*1000*1000)?
if yes, how ZF

[2020-04-20 20:14] lindstro commented on #94
There are some issues with how you're using the zfp command-line tool.

First, the input file suggests you're compressing single-precision (32-bit) data, but you've specified double-precision (64-bit) using `-d`.  Try `-f` instead.

Second, also from the file name, I'm guessing you're trying to compress climate simulation data of dimensions nx=3600 ny=1800 nz=26, so you should specify `-3 3600 180

[2020-04-27 18:48] ashkildighin commented on #94
1. i'm not clear in dimensions  example 3D for 26x1800x3600 . is the standard dimensions and why not specify dimensions like -3 1000 1000 1000. I cross checked CESM-ATM/template_data.txt(climate simulation) on dimensionds but it not helpme out. usually  dimeneions parmaters used as better compression quality
2.i'not understand on "the rate should never be higher than that of the input data if your

[2020-04-27 19:48] lindstro commented on #94
I'm assuming you're referring to the CESM-ATM data from SDRBench, whose template_data.txt file says:

[code]

This should therefore be compressed by zfp using -3 3600 1800 26.  zfp will not work if you don't get the array dimensions right.

The rate specified via zfp's `-r` option is the number of bits per scalar value to use for the compressed representation.  The uncompressed data you're trying

[2020-05-01 17:52] jakirkham opened #96 "Using memoryviews for decompression"
Currently decompression requires `bytes` objects [here]( https://github.com/LLNL/zfp/blob/697dd5d96a7fef6d04e4b0fa23f109127e7c587c/python/zfpy.pyx#L332 ) and [here]( https://github.com/LLNL/zfp/blob/697dd5d96a7fef6d04e4b0fa23f109127e7c587c/python/zfpy.pyx#L248 ). This means if users have a `mmap` or other Python object that otherwise acts like an array, they must coerce it to a `bytes` object, whi

[2020-05-01 17:54] rabernat commented on #96
Just wanted to leave my 👍 -- this would be a simple change with important performance benefits.

[2020-05-01 17:59] jakirkham commented on #96
Also apologies if this is already known to the authors here, but [this doc]( https://cython.readthedocs.io/en/latest/src/userguide/memoryviews.html ) provides some background on using memoryviews in Cython. As Ryan notes this is a simple change (guessing ~4 lines after peaking at the code).

[2020-05-01 18:50] lindstro commented on #96
Thanks for the suggestion.  We will look into it and see what can be done.

[2020-05-01 19:02] halehawk commented on #96
I know your concern now. But zfp compressed integer, float and double data
to bytes, in what kind of circumstances users will convert the bytes object
to mmap first? @jakirkham @rabernat <https://github.com/rabernat>

On Fri, May 1, 2020 at 11:52 AM jakirkham <notifications@github.com> wrote:

[2020-05-01 19:18] jakirkham commented on #96
To be clear we are discussing decompression, so its not a `bytes` object being converted an array-like. It's an array-like being converted to `bytes` that's the issue. Second `mmap` is merely one array-like. There are others.

It depends on what `Store` users select in Zarr. If they use LMDB, this would come up for example. Potentially other backends use this. Additionally there has been interest

[2020-05-19 18:45] ashkildighin commented on #94
1.src/cuda_zfp/decode.cuh

memset in device code. This seems like an issue and it may increase kernel execution time or Cuda memcpy Host to Device time.
In the following changes observed that kernel execution time /Cuda memcpy Host to Device time decreased 10-15ms for an example input load size of 1GB.

template<typename Scalar, int BlockSize>
__device__ void zfp_decode(BlockReader<BlockSize> &rea

[2020-05-19 19:17] lindstro commented on #94
Regarding 1, memset is needed for atomics to work properly, and atomics are needed when there is a possibility of two threads writing to the same word.  Depending on the requested rate, this may or may not happen, and we could probably add a fast path that avoids memset when it is known not to be needed. @mclarsen I know this has been discussed before.  What are your thoughts?

Regarding 2, there

[2020-05-19 22:32] ashkildighin commented on #94
Regarding 1, still it is not clear.
 I think in zfp source code, atomics are used in  encode (Cuda compressor scenario) like __device__ uint write_bit(const unsigned int &bit)
{
atomicAdd(&m_stream[write_index], add); /* m_stream set null by memeset(cudamemset) in encodelaunch or encode2launch
}
In decode(cuda decompressor) atomics are not there or not used in sourece code like encode and memset i

[2020-05-20 02:06] lindstro commented on #94
My apologies--I read `encode_block()` in your second question and thought the first question was also about encoding.  I'm not sure why `memset` would be used in decoding.  Let me look into this.

About your second question, I don't maintain SDRBench.  I would suggest contacting the CODAR team (codar-reduction@cels.anl.gov).

[2020-05-20 02:21] lindstro commented on #94
All right, I think I'm finally on the same page.  Regarding `memset()` in `decode_ints()`, the decoded block needs to be zero initialized since we rarely decode all bits of the block.  I'm not entirely sure why `memset()` is being used for this rather than just using zero initialization, as in your proposed code.  Let me investigate and get back to you.

[2020-05-20 14:44] mclarsen commented on #94
In decode_ints, the code can be safely changed to zero initialize instead of calling the memset.

 I remember getting a similar question about the `cudaMemset` of the stream inside of encode as another thing that could be optimized. This one is more complicated, but it is possible.

[2020-05-20 17:44] arjunshetty955 opened #97 "ZFP end to end test cases"
I'm interest ZFP to understand a compressor and decompressor techniques in scientific computing
In ZFP is any uses cases or end to end test cases or applications using ZFP to understand compressor/ decompressor techniques,
I think ZFP run  both CPU and GPU.

Test data or sample data not able to download in reference link or website:-https://sdrbench.github.io/
shown error site cannot reached on se

[2020-05-20 17:59] lindstro commented on #97
I'm having a difficult time understanding your first question.  If you're asking for example use cases of zfp, you may find some in the presentations and papers off our [website](https://computing.llnl.gov/projects/floating-point-compression/publications), as well as the many [papers that cite zfp](https://scholar.google.com/scholar?oi=bibs&hl=en&cites=2496609287758472133&as_sdt=5).  If the questi

[2020-05-21 05:29] ashkildighin commented on #94
thanks for the reponse @lindstro and @mclarsen

[2020-05-25 16:45] ashkildighin commented on #94
1.
In Cuda(GPU) execution, compression/decompression bandwidth GB/Second(encode rate) and
elapsed time  calculated by cuda  events(cudaEventRecord,cudaEventSynchronize..) and it is enabled CUDA_ZFP_RATE_PRINT.

Kindly let me how to understand and calculate:
encode rate and elapsed time [compressed storage size(bits/value) vs throughput[GB/Second] in other execution policies like serial and openMP

[2020-05-25 18:19] lindstro commented on #94
To time zfp on Linux or macOS, you can use the time shell command.  For example:

`time ./zfp -f -3 3600 1800 26 -r 16 -x omp -i data/CLDICE_1_26_1800_3600.f32`

Note that you have the dimensions transposed (should be `-3 3600 1800 26`).  To get the throughput, just divide the size of the uncompressed input file by the real time.  If you just want to time compression, then don't write the compress

[2020-05-29 13:29] lindstro commented on #64
Thanks to the efforts of @da-wad, we now have a `pip` installable package: https://pypi.org/project/zfpy/.  I'd like to thank @da-wad, @kmpaul, and everyone else who helped resolve this issue.

[2020-05-29 13:29] #64 closed

[2020-06-02 20:20] lindstro opened #98 "Buffer overrun in reversible mode"
`zfp_stream_maximum_size()` underestimates the compressed size in reversible mode, which can cause buffer overruns when the data is highly incompressible.

[2020-06-02 20:25] lindstro commented on #97
@arjunshetty955 I'd like to close this issue if my answer addresses your question.

[2020-06-03 02:38] lindstro commented on #98
Fixed by commit f3e1ca9 on `develop`.

[2020-06-03 02:38] #98 closed

[2020-06-03 17:01] ashkildighin commented on #94
Thanks for your comments  @lindstro on previous questions.

I suspect Nvidia(Cuda) atomic operations are a little bit expensive compared to std:: atomic
is suggest use std:: atomic in zfp?

example:
https://github.com/LLNL/zfp/blob/develop/src/cuda_zfp/encode.cuh
__device__
  uint write_bit(const unsigned int &bit)
  {
    ...
	......
    Word add = (Word)bit << shift;
    atomicAdd(&m_stream[writ

[2020-06-03 18:54] mclarsen commented on #94
`std::atomic` cannot be called inside of device code.

[2020-06-03 20:09] lindstro opened #99 "private_view read access does not work correctly in zfp 0.5.5"
`private_view` inherits its cache and inspector (`private_view::get()`) from `private_const_view`.  This inspector never performs write-backs of evicted blocks, as blocks cannot be modified through `private_const_view`.  However, this results in incorrect behavior in the derived class, which does support write access and updates to blocks.

[2020-06-03 21:11] lindstro commented on #99
A simple solution is to override `get()` in `private_view`, as is done on commit 520596b on the `develop` branch.

This issue has already been addressed on the `refactor/arrays` branch, which will be released with version 0.5.6.

[2020-06-03 21:11] #99 closed

[2020-06-19 20:16] milankl opened #101 "Sign not preserved although precision specified?"
I want to compress some float32 arrays with zfp, the original values are small (1e-13 to 1e-9), let's mimic that by
[code]
then compress&decompress by specifying precision (presumably between 7-16 mantissa bits should be preserved in my application)
[code]
However, the compression (or decompression) does not seem to preserve the sign for about 3% of the values:
[code]
Am I doing something wrong or

[2020-06-19 21:00] lindstro commented on #101
In fixed-precision mode, zfp makes no guarantees on the sign.  Note that setting `precision=7` does not mean that values will be accurate to seven bits of precision; see this [FAQ](https://zfp.readthedocs.io/en/develop/faq.html#q-relerr).

If you want to preserve the sign and some number of bits of precision, you can achieve that using the expert mode settings discussed in this FAQ, though the zfp

[2020-06-19 23:06] milankl commented on #101
Thanks Peter! Yeah, a sign-switch is unfortunately a no-go for my application, although in most cases I'm dealing with only positive data anyway. Just rounding to the nth significant bit manually and then using lossless sounds like a good approach - I will try that!

[2020-06-19 23:06] #101 closed

[2020-06-25 23:15] sampotter opened #102 "pip installation of zfpy on Windows 10 using MSYS2 MinGW 64-bit fails"
I'm using MSYS2 and trying to install zfpy from the MinGW 64-bit console, using Python3, and pip installed from the `mingw-w64-x86_64-python-pip` package.

To recreate this, one should be able to:

- install MSYS2
- open the "MSYS2 MinGW 64-bit" console
- run `pacman -Sy mingw-w64-x86_64-python mingw-w64-x86_64-python-pip`
- run `pip install zfpy`

Here's the output with failure message:

[code]

[2020-06-26 03:27] lindstro commented on #102
@sampotter Thanks for reporting this bug.  We will look into it.

@da-wad Do you have any thoughts on this?

[2020-06-29 05:54] da-wad commented on #102
Hi Sam. Thanks for including the full log, it's definitely helpful. What it indicates is that when you attempt to pip install a binary distribution of zfpy none of the available wheels' tags (see: https://www.python.org/dev/peps/pep-0425/) match your system, and it defaults to the source distribution (which is actually just a package description rather than ZFP source). I cannot claim familiarity

[2020-06-29 13:00] arjunshetty955 commented on #97
@lindstro yes, your answer addressed to my question. kindly close this issue.

[2020-06-29 14:12] sampotter commented on #102
Thanks for helpful explanation and pyzfp recommendation.

MSYS2 uses the same package manager as Arch Linux, "pacman", which allows one to install Python packages using it instead of pip. This is "recommended"---I'm not exactly sure why. At any rate, on this system, I went this route instead of the usual conda or virtualenv + pip combination.

Now, when I go looking for numpy's .dist-info director

[2020-06-29 14:35] #97 closed

[2020-06-29 23:01] milankl opened #103 "Julia version available"
Hey Peter, I just wrote a wrapper for the Julia language, available here: https://github.com/milankl/ZfpCompression.jl - the C library is automatically installed too. At the moment only the main functionality is supported, but this might change in the future.

[2020-06-30 01:08] lindstro commented on #103
Hi Milan, thanks for sharing the news and for making your code available.  Do you mind if I add a link to it from [here](https://computing.llnl.gov/projects/floating-point-compression/related-projects)?

Would it make sense to [embed a header](https://zfp.readthedocs.io/en/release0.5.5/high-level-api.html#c.zfp_write_header) so that the user does not have to specify the compression parameters in `

[2020-06-30 09:52] milankl commented on #103
Please yes, you are more than welcome to add it! Adding a header definitely makes sense - will do soon. Thanks Peter!

[2020-06-30 16:47] milankl commented on #103
fyi, header was added ;)

[2020-06-30 16:47] #103 closed

[2020-08-28 20:18] mfvalin opened #104 "zfp Fortran compilation problem with flang (AMD aocc 2.2.0)"
zfp.f contains code sequences like
   integer, parameter :: const_zFORp_version_major = 0
  integer, parameter :: const_zFORp_version_minor = 5
  integer, parameter :: const_zFORp_version_patch = 5
  integer, protected, bind(c, name="zFORp_version_major") :: zFORp_version_major
  integer, protected, bind(c, name="zFORp_version_minor") :: zFORp_version_minor
  integer, protected, bind(c, name="zFOR

[2020-08-28 21:04] lindstro commented on #104
@mfvalin Thanks for reporting this issue.  Not being a Fortran programmer myself, it's unclear to me if adopting this change  is "safe" or if it could create issues with other Fortran compilers.  If it's truly a compiler bug, then I would prefer that this be addressed in flang.  I'd appreciate if you would follow up with AMD's response so we can work toward a resolution.

Regarding the zfp Fortran

[2020-08-31 20:06] sheltongeosx opened #105 "ZFP cuda produces 0 decompressed data"
Dear ZFP developers,

I tested zfp with cuda option to compress and decompress a dataset of around 5G. But its decompressed dataset contains all 0. Here is the commands I used:

    zfp  -i  inputdata.dat -z  output.comp -r 16  -x cuda -f -3 150 5850 1601
    zfp  -z output.comp -o output.decomp -r 16  -x cuda -f -3 150 5850 1601

output.decomp contain all 0. It produced same result both on IBM Po

[2020-08-31 21:14] lindstro commented on #105
Dear Shelton,

This is a rather large data set.  The uncompressed data is 5.2 GB and the compressed data is another 2.6 GB.  zfp should definitely report an error if there is not enough GPU memory, but I think there may be sections of the CUDA implementation that assume that the uncompressed data can be addressed using only 32 bits (4 GB) and that can cause silent errors.  We will revisit the CUDA

[2020-09-01 20:05] sheltongeosx commented on #105
Dear Peter,

Thank you very much for your suggestions.
I actually splitted the input data set into 4 parts and running with one of the pieces still gives the 0 decompressed volume:

    zfp  -i  inputdata.dat -z  output.comp -r 16  -x cuda -f -3 38 5850 1601
    zfp  -z output.comp -o output.decomp -r 16  -x cuda -f -3 38 5850 1601

The compressed and decompressed data sizes now are: 750 M and 1.4

[2020-09-01 21:16] lindstro commented on #105
Maybe a dumb question, but are you certain that the input data actually has nonzero values?

Note that zfp assumes that the leftmost index varies fastest (aka. Fortran order).  To partition the data along x like you've done, you would have had to piece together noncontiguous chunks of data.  Partitioning along z (as in the example I gave) would be far easier.  And given your choice of partitioning

[2020-09-02 20:41] sheltongeosx commented on #105
Dear Peter,

Thank you very much for mentioning about the order to specify the data dimensions. The following commands

     zfp  -i  inputdata.dat -z  output.comp -r 16  -x cuda -f -3 1061 5850 38
     zfp  -z output.comp -o output.decomp -r 16  -x cuda -f -3 1061 5850 38

now produce correct results.  As you mentioned earlier, it could not handle my 5G data example.

Best
Shelton

[2020-09-02 23:12] lindstro commented on #105
I'm glad to hear this is working, though we need to look into what's causing the failure for the larger data set and why zfp is not reporting an error.  I will keep this issue open until we've had time to take a closer look.

[2020-09-17 16:32] halehawk commented on #96
@lindstro Do you have any update on this issue? "bytes" is not good as a type for passing a buffer, since "In the case that the API only deals with byte strings, i.e. binary data or encoded text, it is best not to type the input argument as something like bytes, because that would restrict the allowed input to exactly that type and exclude both subtypes and other kinds of byte containers, e.g. byt

[2020-09-17 16:59] jakirkham commented on #96
My guess is @lindstro, et al. would accept a PR @halehawk (if you want to give it a try 😉). My guess is this is a 3 line change.

In case it helps, [`uint8_t` is defined here]( https://github.com/cython/cython/blob/084a25f55d0b4cf8b4c3cd496ec57bb3e2f57f71/Cython/Includes/libc/stdint.pxd#L13 ). So would require a `cimport` from `libc.stdint`. Though one could also just use `unsigned char` if that's

[2020-09-17 17:01] jakirkham commented on #96
Would add it looks like [this script contains their CI build process]( https://github.com/LLNL/zfp/blob/0817b0865e13f54af573bf56040fee5869ea4cbd/travis.sh ). Maybe that provides a good starting place for building things locally?

[2020-09-17 17:05] lindstro commented on #96
@halehawk Would be great if you could experiment with this and submit a PR.  I assume your question about testing is directed at the numcodecs folks.  If not, the zfpy tests are in `zfp/tests/python` on the `develop` branch.

[2020-09-17 17:25] halehawk commented on #96
Can I use "char *"? Can the return value by ensure_ndarray be passing as a char* to _decompress? Or do I need to get the pointer of the return value?

[2020-09-17 18:06] jakirkham commented on #96
Would use `uint8_t[::1]`. That will still accept `bytes` objects, but will also accepts NumPy arrays that are 1-D `uint8`.

[2020-09-17 22:03] halehawk commented on #96
@jakirkham @lindstro I am done with the modification, and created a pull
request.

On Thu, Sep 17, 2020 at 12:06 PM jakirkham <notifications@github.com> wrote:

[2020-09-17 22:19] jakirkham commented on #96
Guessing that's PR ( https://github.com/LLNL/zfp/pull/106 )? Thanks @halehawk! 😄 Made a couple minor suggestions.

[2020-09-17 22:21] halehawk commented on #96
I saw test_numpy failed on some builds, how can I see the error
logs @lindstro

On Thu, Sep 17, 2020 at 4:03 PM Haiying Xu <haiyingx@ucar.edu> wrote:

[2020-09-18 03:42] lindstro commented on #96
Run `ctest -V` to see the full output.  If the tests pass on your machine but not on Travis, then we might need to run an interactive Travis session to figure out which tests fail.

[2020-09-18 14:47] halehawk commented on #96
It passed all tests on my machine. But it failed all your Travis xenial system, so I’d like an error log of it.

Sent from my iPhone

[2020-09-18 15:11] lindstro commented on #96
I've got the error log on CDash:

[code]

[2020-09-18 15:24] jakirkham commented on #96
Right, hence my question here ( https://github.com/LLNL/zfp/pull/106#issuecomment-694535340 ).

[2020-09-18 15:53] halehawk commented on #96
I got the same errors from my machine tests before I added const to
uint8_t[::1]. But it looks like Xenial needs something different. It looks
like your codes tried to write to a const buffer during decompress process.
Should it only read the decompressed stream?

On Fri, Sep 18, 2020 at 9:25 AM jakirkham <notifications@github.com> wrote:

[2020-09-18 16:18] halehawk commented on #96
Could be this reason "Cython always passes the PyBUF_WRITABLE flag to
PyObject_GetBuffer(), even when it doesn't need write access. This causes
read-only buffer objects to raise an exception."

On Fri, Sep 18, 2020 at 9:52 AM Haiying Xu <haiyingx@ucar.edu> wrote:

[2020-09-18 16:49] halehawk commented on #96
On Fri, Sep 18, 2020 at 10:17 AM Haiying Xu <haiyingx@ucar.edu> wrote:

which cython version is using on Xenial?

[2020-09-18 17:05] lindstro commented on #96
I can't tell from the logs.  You could add a line to travis.sh to find out.

[2020-09-18 18:21] halehawk commented on #96
Let me try Buffer object that is used in numcodecs.lzma. But in that case,
I have to add more codes in zfpy.pyx.

On Fri, Sep 18, 2020 at 11:05 AM Peter Lindstrom <notifications@github.com>
wrote:

[2020-09-18 19:36] jakirkham commented on #96
Would take a look at using `fused` types to allow dispatching between `const` and non-`const` variants. Here's [an example in Cython's tests]( https://github.com/cython/cython/blob/8970c94d0c6207133e8fdfac642b1b033b8b4184/tests/errors/fused_types.pyx#L53-L59 ).

[2020-09-20 22:01] halehawk opened #107 "ZFPY osx wheels delocating dylibs"
ZFPY osx wheels are not linked with dylibs, we need to figure out how to delocate the dylibs correctly.

[2020-09-21 16:27] rgclapp007 opened #108 "install bug when used as a submodule"
zfp now fails to install as a submodule. The line
  configure_file(CMakeLists.txt.in googletest-download/CMakeLists.txt)
needs to be
  configure_file(CMakeLists.txt.in ${CMAKE_BINARY_DIR}/googletest-download/CMakeLists.txt)

[2020-09-23 18:48] lindstro commented on #108
Thanks for the suggestion, but this line appears on the develop branch only, which should not be used for purposes other than zfp development.  If you want to install zfp, please use the master branch or one of the tagged release branches.

[2020-10-01 18:26] jakirkham commented on #96
Closing now that PR ( https://github.com/LLNL/zfp/pull/106 ) is in.

[2020-10-01 18:26] #96 closed

[2020-10-12 17:47] hmaarrfk opened #110 "Use FindPython when it is more supported by scikit-build"
When trying to ensure broader compatibility with different implementations of python, I think it is likely better to use FindPython which was introduced in 3.12.

That said, it isn't fully supported by scikit-build, and as such, it is likely better to contribute efforts there in order to minimize effort duplication.

https://github.com/scikit-build/scikit-build/issues/506

[2020-10-12 17:48] hmaarrfk commented on #110
xref: https://github.com/LLNL/zfp/pull/100

[2020-11-20 15:42] chuckatkins opened #112 "ZFP broken with current PGI / NVHPCSDK with > 1d arrays"
Using the current NVIDIA HPC SDK (what was previously the PGI compiler), all tests fail for arrays > 1D:

[code]
This came up when I was updating the CI builds for https://github.com/ornladios/adios2 to use the new NVHPCSDK instead of the older PGI compiler and after addressing all other issues the only remaining test failures were when using ZFP and only with 2d arrays.  Rebuilding zfp with gcc a

[2020-11-20 15:57] lindstro commented on #112
I experimented with PGI a few years ago but could never get it to work.  It wasn't obvious then what the issue was.  I think `testzfp` ensures that the compiler adheres to any implementation-dependent assumptions, such as right shifts of signed integers being arithmetic shifts, that signed integers use two's complement representation, and that integer types are of the proper length.  The issue cou

[2020-11-20 16:02] chuckatkins commented on #112
When our CI was running the previous 19.10 PGI release the ZFP tests were passing so I assume it's a recent change.

[code]
This also happens in both debug and release so you can safely assume it's not an optimization issue.

[2020-11-20 16:36] lindstro commented on #112
These seem to indicate significant failures beyond minor rounding errors.  For example, the compressed size differs by as much as a factor of two in fixed-precision mode.

Using PGI 20.1 I'm able to essentially reproduce these results (the floating-point errors are slightly different but compressed sizes are the same).  I'm also seeing a lot of valgrind errors that appear only in 2D and higher, wh

[2020-11-20 18:55] lindstro commented on #112
I've narrowed down the (a) bug to zfp's constant permutation tables getting corrupted.  These tables are 4^d entries long in d dimensions, so 4, 16, 64, and 256 for 1D-4D, and they store a permutation of [0, ..., 4^d-1] as unsigned characters.  See the [3D table](https://github.com/LLNL/zfp/blob/9c6032bd8f63fc77ca79b4ef68d0887b18330da1/src/template/codec3.c#L4), for instance.

Here's a printout of

[2020-11-20 19:39] lindstro commented on #112
Some more info: the issue is caused by aligning these tables via `__attribute__((aligned(256)))`.  Here's a code example that illustrates the bug.  Compile with -DALIGN to expose the bug.

[code]

We have as output:

[code]

This works fine with PGI 18.5:

[code]

Chuck, we could "fix" this with appropriate ifdefs, but it would be better to get the compiler bug fixed.  Would you mind filing a bug

[2020-11-20 19:47] lindstro commented on #112
An alternative interim solution would be to compile zfp with ZFP_CACHE_LINE_SIZE=1, which should fix the problem.  We don't have a CMake macro for this, however, but we probably should.

[2020-11-20 21:45] lindstro commented on #112
FYI, LLNL has submitted a PGI bug report with tracking number SR1000947.

If you prefer, we can leave this issue open until we have added an option to build zfp with a given `ZFP_CACHE_LINE_SIZE`.  I'm not a big fan of writing conditional code to circumvent compiler bugs, so this is probably the best we can offer at the moment.

[2020-11-20 22:17] chuckatkins commented on #112
I don't like it either but the alternative is "doesn't work with the compiler you want" or every downstream project has to manually patch it.  Even with the cache line size option the build system should probably implement the workaround, something like:
[code]
Note the addition of `NVHPC`, support for the newer nvidia based compilers as distinct from PGI is currently being added in upstream CMake

[2020-11-20 22:37] lindstro commented on #112
I'm fine with addressing this in the build system.  I'll see if I can take care of this over the next few days on the `develop` branch.

By the way, tests 1-8 pass with `ZFP_CACHE_LINE_SIZE=1`, so hopefully this is the only bug.

[2020-11-24 22:54] lindstro commented on #112
I've pushed a fix on `develop`.  Tests are passing on AppVeyor but seem stuck in the queue on Travis.  @chuckatkins can you please test on your side and close this issue if it fixes your build problems?

[2020-12-16 22:29] lindstro commented on #85
FYI, we now have a working HIP implementation on the `feature/hip-support` branch.  We will spend the next few months optimizing and cleaning up the code before officially releasing it.

[2020-12-21 18:44] #85 closed

[2021-01-04 05:52] lindstro commented on #112
Since PGI is working on our end and I've not heard any further complaints, I'm closing this issue.

[2021-01-04 05:52] #112 closed

[2021-01-13 18:30] milankl opened #115 "Largest possible array size"
Probably just a quick clarification needed: I'm running into problems when compressing arrays of size 14GB. In the documentation I found "array dimensions are otherwise limited only by the size of an unsigned integer.", which sounds like the [error that I'm getting](https://github.com/milankl/ZfpCompression.jl/issues/9).
- in practice should I use arrays of max size a few GB, and
- the compression

[2021-01-13 19:06] lindstro commented on #115
The short answer is yes, but let me elaborate.

There are various array size limitations in zfp 0.5.5 dependent on the functionality exercised and whether you're referring to the zfp high-level C API (`zfp_compress` and friends) or to zfp's compressed-array classes (`zfp::array`, `cfp_array`).  Judging by your error, I'm assuming you're referring to the high-level API.

- The C implementation of `

[2021-01-17 08:24] shauryapatel1995 opened #116 "CUDA tests failing after building with -DZFP_WITH_CUDA ON"
Hi,
I am trying to use zfp to perform compression on the gpu but it seems that zfp is not working for my environment with cuda. The cuda version I am using is 11.1.

A result from the test suite, all the relevant tests are failing -
[code]

[2021-01-17 08:35] shauryapatel1995 commented on #116
Another issue is that even though I build zfp with 11.1 it still gives me this warning "/usr/bin/ld: warning: libcudart.so.7.5, needed by libzfp.so, may conflict with libcudart.so.11.0" I am not sure if this might be relevant.

[2021-01-17 11:19] milankl commented on #115
Amazing answer, Peter, thanks. I was using float32 arrays of size 1800x901x91x25, so that shouldn't conflict your points 1-3, I might have done something wrong in the Julia wrapper then.

I'm getting an bufsize Int64 from `zfp_stream_maximum_size` and then pass that on to `stream_open` which takes a uint32, the error is raised when the bufsize int64 is truncated to a uint32. In probably have misin

[2021-01-17 16:41] lindstro commented on #115
The C function `stream_open` takes a `size_t`, not `uint32`.  Are you perhaps talking about the Julia wrapper?  Either way, I suspect this is not the issue as the buffer size argument passed to `stream_open` is essentially ignored.

[2021-01-18 03:16] lindstro commented on #116
Sounds like you're picking up the wrong binary of the CUDA runtime.  What platform are you on?  If Linux, what does `ldd bin/zfp` say?  Might also be useful to see what `ctest -R Cuda -V` reports.

[2021-01-21 18:10] shauryapatel1995 commented on #116
Hi @lindstro thanks for the reply, I will run these today and let you know today about these results. I have a feeling it is related to the wrong binary being picked up because the PATH variable shows both cuda11 and cuda7.5 in path, I also set the bin path for cmake but it's still giving a problem.

[2021-01-21 18:26] shauryapatel1995 commented on #116
linux-vdso.so.1 =>  (0x00002aaaaaacd000)
        libzfp.so.0 => lib64/libzfp.so.0 (0x00002aaaaaccf000)
        libm.so.6 => /lib64/libm.so.6 (0x00002aaaaafd7000)
        libc.so.6 => /lib64/libc.so.6 (0x00002aaaab2d9000)
        libgomp.so.1 => /lib64/libgomp.so.1 (0x00002aaaab6a7000)
        libpthread.so.0 => /lib64/libpthread.so.0 (0x00002aaaab8cd000)
        libcudart.so.7.5 => /lib64/libcudar

[2021-01-21 18:27] shauryapatel1995 commented on #116
Example of cmake report -
[code]

[2021-01-21 18:38] lindstro commented on #116
I think the relevant environment variable is CUDAToolkit_ROOT; see https://cmake.org/cmake/help/latest/module/FindCUDAToolkit.html#module:FindCUDAToolkit.  For older versions of CMake, see https://cmake.org/cmake/help/latest/module/FindCUDA.html.

[2021-01-22 14:29] shauryapatel1995 commented on #116
I removed cuda7.5 from path and it fixed the issue! Thanks for your help!

[2021-01-22 14:29] #116 closed

[2021-01-25 01:08] abohara opened #117 "Javascript (browser side) support"
Increasingly, browser based (web) UI apps are handling larger numerical arrays (passed from the server side) that could benefit from zfp compression (&serialization). Any plans to make zfp available (browser/js) side. For e.g. a lightweight javascript implementation or js wrapper around a webassembly module (compiled from current C)?

[2021-01-25 02:45] lindstro commented on #117
No current plans, but we'd appreciate contributions from the community.

[2021-01-26 21:59] jiyouna2 opened #118 "python compressed_numpy"
Hi I'd like to ask about python binding.
I want to use compress_numpy() with fixed rate.
I will compress 4D numpy array.
compress_numpy(4D_arr, rate = 2)

I want to know, the number of values in a compressed block. As far as I know, it depends on the dimension.
The dimension of a raw array can be different from the dimension used for compression.
But since there is no option to configure dimension

[2021-01-27 00:03] lindstro commented on #118
You are right--the number of values in a block equals 4^d, where d is the number of dimensions.  So a 4D block consists of 4^4 = 256 values.  However, I'm not sure this is relevant to your main question.

Although the C interface allows you to compress lower-dimensional "slices" of a higher-dimensional array via strides, the numpy API does not directly expose such functionality.  If some dimension

[2021-01-27 04:16] jiyouna2 commented on #118
I got my answer. Thank you for your help!

[2021-01-27 04:16] #118 closed

[2021-01-27 08:46] anilbommareddy commented on #85
@lindstro Thanks for the update on ZFP HIP support, I checked the feature/hip-support branch, and below are observations     1.OMP test case failure on enabling HIP                                                                                                                                         command : cmake -DZFP_WITH_OPENMP=ON -DZFP_WITH_HIP=ON -DBUILD_EXAMPLES=ON -DBUILD_UTILITIES=ON -DB

[2021-01-27 16:07] lindstro commented on #85
We're aware of this bug and are actively working on determining its cause.  It's good to know that you're seeing the same thing.

This is not called when Scalar = int, but I agree that we should handle the float case better.  I'm not sure why the cast is even there given the availability of overloads.

@cjy7117 Do you know the reason for this?  It's not in the CUDA version.

[2021-01-28 01:39] abohara commented on #117
Thanks @lindstro ! Do you have any thoughts on what would be the most viable first step towards making zfg available browser side?  i.e. compilation to webassembly or lightweight javascript implementation ? Any other paths you foresee ?

[2021-01-28 01:58] lindstro commented on #117
I'm afraid this is not my forte.  I don't do webassembly or javascript, and don't feel qualified to comment.  Sorry.

[2021-01-28 18:41] anilbommareddy commented on #85
@lindstro Thanks for the response.
      I suspect float data type the function should be "frexpf(float,int* )" and double it should be "frexp(double,int*)".

1.  feature/hip-support branch test case Decompressor Fail :
./zfp -d -1 630000000 -r 4 -x hip -i /Data/SDRBENCH-NWChem-dataset/acd-tst.bin.d64 -z test.zfp (compressor)
type=double nx=630000000 ny=1 nz=1 nw=1 raw=5040000000 zfp=315000000(com

[2021-01-28 19:44] lindstro commented on #85
`frexp` should be overloaded based on the scalar type, so there ought not be a need to specialize the code.

Regarding your issue, can it be reproduced using a smaller data set?  Do you observe the same error with other execution policies?  Does the same error occur if you compress and decompress in a single execution (replace `-z test.zfp` on the first command line with `-o test.d64`)?

[2021-01-28 20:08] cjy7117 commented on #85
@lindstro According to [CUDA Math API](https://docs.nvidia.com/cuda/cuda-math-api/group__CUDA__MATH__SINGLE.html#group__CUDA__MATH__SINGLE) and [HIP Math API](https://rocmdocs.amd.com/en/latest/ROCm_API_References/HIP-MATH.html), frexpf is for float and frexp is for double. The data type conversion was automatically added by the hipify tool since frexp is called and the input data can either float

[2021-01-28 21:44] lindstro commented on #85
Right, but there's also an overload `double frexp ( float x, int *nptr )` (see https://rocmdocs.amd.com/en/latest/Programming_Guides/HIP-GUIDE.html#math-functions).  I'm unsure why hipify would force a cast when an overloaded function with matching signature is available when called from a template function.

[2021-01-29 05:00] abohara commented on #117
Thanks @lindstro . I will investigate this further and close the issue till I have a concrete way forward.

[2021-01-29 05:00] #117 closed

[2021-01-29 18:58] lindstro opened #119 "Subnormal blocks are not encoded correctly"
Blocks whose largest nonzero value is subnormal can cause floating-point overflow during conversion to zfp's block-floating-point format.  Although this conversion corrupts the mantissas, this is an otherwise benign bug as such blocks are still reconstructed as a collection of "random" subnormals, albeit with complete loss of precision.

Two potential solutions have been identified:

- Perform the

[2021-01-29 22:15] lindstro opened #120 "OpenMP tests fail when ZFP_WITH_OPENMP and ZFP_WITH_HIP are both enabled"
We are still investigating this issue, first reported on #85, which appears to be due to `-fopenmp` not being passed and `_OPENMP` not being defined when `src/zfp.c` is compiled.  This option is passed when compiling the tests, however.

[2021-02-01 09:54] data-panda opened #121 "CUDA ZFP produces 0 for arrays beyond a size"
We have this weird issue wherein if we compress and decompress an array bigger that `512^3`, the resulting decompressed data is part filled with complete zeros (`0.0e+0`). In one of the machine where we ran, it exactly produces this behavior from `513^3` (float) onwards array, whereas on another machine, it starts breaking somewhere beyond `512^3` but not exactly at `513^3`. For reproducibility sa

[2021-02-01 17:12] lindstro commented on #121
I can reproduce this issue using CUDA 10.1 and both icc 19.0 and gcc 4.9.  This issue probably is not related to #105 for 768^3 grids, but possibly for 1024^3 since 1024^3 * sizeof(float) = 4 GB.  Portions of the code that use signed ints would be limited to 2 GB.

We are aware that the CUDA implementation is not as robust for very large data sets and will be looking at weeding out bugs over the c

[2021-02-01 17:51] data-panda commented on #121
Thanks @lindstro. If I move from 768 to 1024, the band of zeros increase (?). it seems like anything beyond a certain data size is being decompressed as zeros (or compressed as zeros). In the case of 1024, if everything is zero then i suspect I am seeing the same behavior as mentioned in #105 . Will update!

[2021-02-01 18:37] lindstro commented on #121
I cannot think of a good reason why we're seeing this behavior.  It's also unclear whether the issue is in the compressor or decompressor (or both), e.g., does the compressed output match what the serial implementation outputs?

It is somewhat telling that this appears to occur only along one axis (the z-axis, AFAICT, which should be the most slowly various one).  This suggests that the compressed

[2021-02-01 20:40] lindstro commented on #121
Something else that occurred to me: zfp does not only need to address array elements (via indices) and bytes (via pointers), but also bits (via bit offsets into the compressed stream).  The largest 32-bit signed bit offset is 2^31 - 1.  For a data set of size 768^3 at a rate of 8 bits/value, you can address only (2^31 - 1) / 768^2 * 8 ~ 455 out of 768 slices, which judging by your visualizations a

[2021-02-02 01:53] lindstro commented on #121
I can confirm my suspicions.  First, using checksums I've verified that the compressed data matches between the serial and CUDA backends (for 768^3 arrays), so the issue is primarily with the decompressor, not compressor.  Also, decompression fails when the rate is above 2^31 / 768^3 ~ 4.74 (e.g., a rate of 4.5 works fine but 4.75 does not).

It appears [this line](https://github.com/LLNL/zfp/blob

[2021-02-02 03:28] data-panda commented on #121
@lindstro i had already did the hashums on the compressed file and was sure the error was in decompression. Thanks for confirming the same. I will checkout he bugfix that you pushed to `develop` and confirm if it works for me.

[2021-02-02 05:58] data-panda commented on #121
works for `(512 --> 1250]`. Tried 1300^3 but hit the malloc limits on the system resulting in segfault. So I think this fix works.

[2021-02-02 09:07] amikstcyr commented on #121
Great for finding that one!

[2021-02-02 15:21] lindstro commented on #105
@sheltongeosx Sorry for taking so long to get back to you regarding this issue.  We're finally at a point where we have time to go over the CUDA implementation to make sure it's bug free.

We fixed a related issue (#121) on the `develop` branch that might also address the one you reported.  Would you mind rerunning your example (on the whole 1061x5850x38 volume) to see if it works now?

[2021-02-03 14:20] confluence opened #122 "Missing install target for utility"
If `BUILD_UTILITIES` is enabled, the `zfp` executable is built, but it is not installed to the appropriate system `bin` directory, as I would expect. Adding this install target to `CMakeLists.txt` produces the expected result:

    if(BUILD_UTILITIES)
        install(FILES
        "${PROJECT_BINARY_DIR}/${CMAKE_INSTALL_BINDIR}/zfp"
        DESTINATION "${CMAKE_INSTALL_BINDIR}")
    endif()

Would

[2021-02-03 16:04] lindstro commented on #122
This is indeed an issue that we recently discovered while updating the zfp Spack package and will fix in the next release.  Thanks for reporting it.  I'll keep this issue open until it has been resolved.

[2021-02-03 16:19] anilbommareddy commented on #85
error not reproduced with the smaller data set(size 1GB)
Same error not observed in other execution policies like serial.
yes, the same error occurred on compress  in a single execution
Example:./zfp -d -1 630000000 -r 4 -x hip -i /data/SDRBENCH-NWChem-dataset/acd-tst.bin.d64 -o test.d64

[2021-02-03 17:11] lindstro opened #123 "HIP execution fails on large data"
@lindstro Thanks for the response.
      I suspect float data type the function should be "frexpf(float,int* )" and double it should be "frexp(double,int*)".

1.  feature/hip-support branch test case Decompressor Fail :
./zfp -d -1 630000000 -r 4 -x hip -i /Data/SDRBENCH-NWChem-dataset/acd-tst.bin.d64 -z test.zfp (compressor)
type=double nx=630000000 ny=1 nz=1 nw=1 raw=5040000000 zfp=315000000(com

[2021-02-03 17:13] lindstro commented on #123
I wonder if this issue is related to CUDA bug #121, which was recently fixed.  Although I would not expect this to result in a segmentation fault.  I first need to download the data and see if we can reproduce the issue on our end.

[2021-02-03 17:15] lindstro commented on #85
To make it easier to track independent issues, I've created a new one.  Please continue this discussion on #123.

[2021-02-09 15:49] lindstro commented on #112
In addition to the fix we made on `develop`, this compiler bug has been fixed in PGI 21.1.

[2021-02-09 15:55] shauryapatel1995 opened #124 "Thread safety of underlying functions"
Hi,
I am using Cuda to perform compression and decompression. I was wondering if the underlying methods of zfp like zfp_stream_open etc. are CPU thread-safe?

[2021-02-09 16:36] lindstro commented on #124
I'm afraid not.  No operations on `zfp_stream` are explicitly thread safe, though it's possible that some of them are implicitly, e.g., if they do not modify their arguments.  As it turns out, `zfp_stream_open` is one of the safe functions, but it is generally not safe for multiple threads to simultaneously pass the same `zfp_stream*` to zfp functions.

I can perhaps make some suggestions if you p

[2021-02-10 14:39] data-panda opened #125 "OpenMP compression + serial decompression fails for large data"
Team, We just found another bug which happens in the case of OpenMP compression and Serial Decompression (reproducible with zfp 0.5.5 release AND `develop` branch) with large data (>512^3) and num threads >= 4. Here are the numbers that we obtained for a float dataset of size 768^3

| run ID | data size (n^3) | data type | compression ratio | serial   | omp compression(4 threads) |
| ------ | ----

[2021-02-10 16:38] lindstro commented on #125
Thanks for reporting this bug.  Unfortunately, I am not able to reproduce it.  Are you sure that the rates match between compression and decompression?  For future reference, note that the rate is a `double`, not an `int`.  Also, when submitting bug reports, we'd appreciate if the code reproducing the bug can be compiled once as a single program without requiring manual code edits (e.g., to change

[2021-02-10 17:59] data-panda commented on #125
@lindstro thanks very much for your comment. Maybe I overlooked something while giving the link to the reproducer code. Apologies!

Please try this gist: https://gist.github.com/data-panda/5b37c2823eb57696577105708875a721

Compile: `icc -fopenmp -O3 omp_768_cr_2.c -lm -lzfp`

Run1:
[code]

Run2:
[code]
You should observe the following rmse's:
run 1: `2.610459e-05`
run 2: `2.358627e+01`

Here is th

[2021-02-10 19:00] lindstro commented on #125
I can now reproduce this issue.  I think I earlier may have used a zfp library that was compiled without OpenMP enabled (gotta check the return value of `zfp_stream_set_execution`).

I feel reasonably confident that this will be an easy bug to identify and fix.  I'll keep you updated on our progress.

[2021-02-10 20:11] lindstro commented on #121
@data-panda Can I close this issue?

[2021-02-10 22:04] lindstro commented on #125
Good news--it looks like the issue can be narrowed down to a single line of code: https://github.com/LLNL/zfp/blob/f668af3d54c52bec96ae94b2b631b1335d3704b5/src/share/parallel.c#L56.  Here `block * stream->maxbits` is computed as a 32-bit integer that can overflow when the start block for a given thread is large (the more threads you use, the larger the first block ID of the last thread is).  Chang

[2021-02-11 01:58] data-panda commented on #125
Great Peter 🥳! We had a hint that, this is again linked with integer overflow. Will stay tuned to pull all those data type upgradations when you push the code changes. Meanwhile, I will change the line mentioned by you and test it out a bit.

[2021-02-12 17:17] #121 closed

[2021-02-12 17:48] lindstro commented on #122
The suggested addition works on Linux but not on Windows, which uses a different directory structure (e.g., `bin/Release`) and executable name (`zfpcmd.exe`).  We'd welcome any suggestions on how to correctly implement this on Windows.

[2021-02-12 17:52] confluence commented on #122
Ah. That's outside my field of expertise, I'm afraid -- I only build software for Linux and sometimes MacOS.

[2021-02-13 06:30] #125 closed

[2021-02-13 06:35] lindstro commented on #125
The OpenMP bug has been fixed on `develop`.  Please reopen if this does not address your issue.

[2021-02-14 01:55] lindstro commented on #122
This was actually easier than I thought.  This does the trick:

[code]

I've pushed a fix on `develop`.

[2021-02-14 02:41] lindstro commented on #122
I spoke too soon.  For some reason, this addition (which works on our systems) is rejected by Travis CI.  Our Travis logs are also mysteriously missing from CDash, so I have no way of telling what's going wrong.  For now, I've re-opened the issue.

[2021-02-14 23:16] jvo203 opened #126 "Fortran bindings are built but not installed"
Fortran bindings can be built by issuing ```cmake -DBUILD_ZFORP=ON ..``` followed by ```make```. But then issuing ```sudo make install``` installs under ```/usr/local/``` the usual zfp C/C++ library only, without the Fortran bindings (Fortran module + libzFORp.so).

[2021-02-15 01:27] lindstro commented on #126
Indeed, this is related to #122 and we'd like to address it for the next release.  I'm not sure what directory structure is expected for installed Fortran modules.  If you're willing to make a contribution, we'd gladly accept it.

[2021-02-15 02:30] jvo203 commented on #126
Further observations: Fortran bindings work fine without ```sudo make install``` if one links to the module/library from within the cmake "build" folder. But they work only with gfortran, not ifort.

With gfortran the test program compiles and works:
[code]

Intel's ifort does not accept module files compiled with other compilers ( I guess Fortran module files are simply not portable). So one need

[2021-02-15 02:44] jvo203 commented on #126
And one more thing, the current Fortran ZFP module name as it appears in ```zfp.f``` seems to be unnecessarily complicated: it ends with "_module". I simplified it to just ```zFORp```, plus changed the "use" statement accordingly in the Fortran bindings test file to just ```use zFORp```, like so:

```zfp.f90```:
[code]

[2021-02-15 19:29] lindstro commented on #126
Thanks for your suggestions.  I don't know the rationale for the `_module` suffix or why we're not using an `f90` extension.  Unfortunately, the original author is no longer with our project.

We'll take a closer look at this over the coming weeks.

[2021-02-15 21:10] #108 closed

[2021-02-16 23:33] lindstro commented on #122
Older versions of cmake (as used by Travis) evidently do not search subdirectories for targets.  After moving the install command to the utils subdirectory, things are finally working.  The fix has been pushed to `develop`, which resolves this issue.

[2021-02-16 23:33] #122 closed

[2021-02-18 23:32] lindstro commented on #124
@shauryapatel1995 Unless you have further questions on thread safety, I would like to close this issue.

[2021-02-18 23:43] shauryapatel1995 commented on #124
Hi @lindstro sure go ahead and close it! I need to come up with a more detailed question, I can open that as an issue later. Thanks for your response!

[2021-02-18 23:45] #124 closed

[2021-03-15 22:46] lindstro opened #127 "Reversible mode reports incorrect compressed block size"
The number of bits of compressed storage is sometimes computed incorrectly when losslessly compressing floating-point arrays.  The following lines are to blame: https://github.com/LLNL/zfp/blob/b2816e2efc085704527deb86ed7cbbd60104d384/src/template/revencodef.c#L74-L75
Here `bits` should be incremented by 2.  This is primarily an issue in the low-level API; the high-level `zfp_compress()` obtains t

[2021-03-15 23:24] #127 closed

[2021-03-17 20:00] milankl commented on #115
Sorry, that was my bad, yes, `stream_open` now takes a `size_t`/`Int64` in the Julia wrapper too, that was the cause for my error. Corrected in ZfpCompression.jl v0.1.1

[2021-03-17 20:01] #115 closed

[2021-04-27 14:30] esosnina opened #128 "Segmentation fault in testzfp while testing 4D array of doubles on MacOS 10.15"
After building zfp using GNU make on MacOS 10.15, I ran testzfp and see the following error message:
"testing 4D array of doubles
Segmentation fault: 11"

[2021-04-27 15:44] lindstro commented on #128
That's curious.  Which version/branch of zfp?  Using what compiler?  Can you please include the outputs of make and testzfp?

[2021-04-27 16:12] esosnina commented on #128
Version: 0.5.5
Compiler: AppleClang 11.0.0.11000033

make output:
[code]

testzfp output:
[code]

[2021-04-27 16:38] lindstro commented on #128
Thank you.  Did you download zfp as a tar ball or using git?  In case of the latter, I assume from the make output that you're on the master branch, but please confirm.  Since you're building with CMake, it would be useful to see its output also.  Which options did you pass to CMake?  In short, can you please give me the sequence of steps you performed so we can attempt to reproduce the issue?

Us

[2021-04-27 17:04] esosnina commented on #128
I download zfp-0.5.5 as ZIP archive
Then my next steps:
[code]
otool output:
[code]

Unfortunately, now we don't have valgrind on this machine. But we can try to install it and I'll provide the logs later.

[2021-04-27 17:32] lindstro commented on #128
Using the same steps (but with a different clang), I cannot reproduce the issue.  Hopefully valgrind will give us some clues.

[2021-04-28 15:09] lindstro commented on #128
Another suggestion is to build zfp in debug mode (`cmake -DCMAKE_BUILD_TYPE=Debug ..`) and run testzfp through a debugger to give us some idea of where the fault occurs.

[2021-04-29 22:41] cpviolator opened #129 "Bit sizes of 1 reported by `zfp_encode_block_double_4`"
We are compressing 4D double precision data of extent 32^4 in place, using a modified version of the 2D `inplace.c`. We get excellent data reproduction. However, `zfp_encode_block_double_4` reports that the first 128 block bit sizes are ~9000 and all subsequent blocks are of size 1 for a blocking size of 4^4. We list here the various compression ratios for the same data set using blocks of 2^4, 4^

[2021-04-29 23:44] lindstro commented on #129
I'm not sure what you mean by "block size."  A 4D zfp block is always 4^4 values.  Since array dimensions are not always multiples of four, some blocks near the array boundary will necessarily have to be padded to 4^4 values, and there are encode functions (e.g., `zfp_encode_partial_block_strided_double_4`) that take such partial blocks (of size 1 <= n <= 4) and inserts padding.  Is that what you

[2021-04-30 00:57] cpviolator commented on #129
@lindstro Thank you for the reply. Our data array dimensions are always divisible by 4 (for these tests) and for the 4D compression we will restrict to a blocking of 4^4 from now on.

Our first pass at compression performed 32 independent compressions on blocks of 32*32*32 data using `zfp_encode_block_double_3` and `zfp_decode_block_double_3` with a 4^3 blocking scheme. This gave us excellent repr

[2021-04-30 00:57] #129 closed

[2021-04-30 03:10] lindstro commented on #129
Glad to hear you found the issue.  1.82x is not a very impressive compression ratio, however, for lossy compression.  Are you using lossless mode or very tight tolerances?

[2021-04-30 03:30] cpviolator commented on #129
Very tight tolerance (1e-9 gives us a 2x) and our data is not particularly well correlated to begin with. However, even a 2x is a great boon to us as we will be frequently moving the data from global GPU memory to the threads. Compression and decompression of the data is tiny compared to the transfer latency, and the set up costs we do to prepare the data so it is in spatially correlated form is c

[2021-04-30 05:20] lindstro commented on #129
We currently don't have CUDA support for 4D compression, but it's high on our to-do list.  We're also in the process of adding CUDA (and HIP) compression modes other than fixed rate, including fixed precision and accuracy.  We should have this capability available on a feature branch in the coming weeks.

For now, we don't have support for the low-level API on the GPU.  For what you're doing, it l

[2021-04-30 07:46] cpviolator commented on #129
That's awesome to hear! I will explore the high level API and adjust our code. When we have performant CUDA compression I will ensure that we report back with benchmark data.

[2021-05-11 08:32] esosnina commented on #128
Sorry, we don't have a possibility to install valgrind and debugger for AppleClang 11

[2021-05-11 14:21] lindstro commented on #128
Not even `lldb`?  It should be installed.

[2021-05-12 10:30] esosnina commented on #128
[code]

[2021-05-12 14:17] lindstro commented on #128
I'm not familiar with the lldb `target create` command.  You should be able to just build with `cmake -DCMAKE_BUILD_TYPE=Debug ..` and then execute `run` in lldb.  It's of course possible that the issue does not occur when building in debug mode, which appears to be the case, though I'm confused why there's no output.  Do you still observe the seg fault when just running from the command line?

[2021-05-25 22:04] corbett5 opened #133 "Add support for CUDA streams."
I have a project where we compute a time step on the GPU and then asynchronously copy some data back to the host for later use. This copy overlaps with the subsequent time step which saves a ton of time. Now I need to compress the data that we save, which I plan to do on device before copying it back to the CPU. It would be nice if this compression could also be asynchronous so I could overlap it

[2021-05-25 22:48] lindstro commented on #133
I think in principle what you're asking for would be possible via CUDA streams (I must confess to not knowing much about it), but I'm unsure how we would expose such functionality through the zfp API.  Currently the only entry point we provide is through `zfp_compress()`, which does a fair amount of setup work on the CPU and handles any data motion between CPU and GPU.  The actual CUDA compression

[2021-06-21 17:27] lindstro commented on #126
@jvo203 Does the fix on 6389b89 address your concerns?  If so, then I'd like to go ahead and close this issue.

[2021-06-21 23:00] jvo203 commented on #126
Hi Peter,

Thank you and yes the issue can be closed.

Though by this time I have analysed and re-created ZFP in native FORTRAN as well as Intel SPMD C (ispc)... The native FORTRAN implementation is not general, it is specific to my needs and ties closely with the rest of the FITSWEBQLSE FORTRAN code. The intention is to take a full advantage of CPU L1 cache, operate on 4x4 blocks held in the L1 c

[2021-06-21 23:34] lindstro commented on #126
Sounds interesting.  We've been thinking about putting FORTRAN wrappers around our cfp C bindings to zfp's compressed-array classes, but the demand for such a feature has not yet been high enough for this to override other priorities.  Some day...

[2021-06-21 23:34] #126 closed

[2021-07-15 14:42] doiko opened #138 "Support of parallel decompression for fixed rate"
Is there any plan to support parallel decompression for fixed rate compressed arrays>

[2021-07-15 15:00] lindstro commented on #138
Since zfp already supports parallel CUDA decompression, I assume you're referring to the OpenMP implementation of `zfp_decompress` (and not the compressed-array C++ classes).

We have plans to add support for both fixed and variable rate decompression over the coming months.  It is likely that this feature will be available sometime early next year, even though our primary focus will be on CUDA an

[2021-07-16 06:04] doiko commented on #138
Indeed @lindstro we are looking for decompressing in CPUs. Do you have any reference for expecting performance for parallel decompressing on multicore CPUs? Throughput vs Number of cores.

[2021-07-16 06:13] doiko commented on #138
Also will the fixed rate parallel cpu is planned to be supported by the python zfpy package?

[2021-07-16 06:16] lindstro commented on #138
Without having implemented it, it's difficult to guess, but we do have performance results for OpenMP parallel compression.  See page 11 of [this presentation](https://computing.llnl.gov/sites/default/files/llnl-pres-777723.pdf).  You can probably extrapolate from the ratio between serial compression and decompression throughput.

[2021-07-16 06:26] lindstro commented on #138
Our immediate plans are to support parallel decompression through the high-level C API.  This alone requires re-engineering zfp to keep track of block offsets (for the variable-rate modes).  For decompression, such offsets also have to be embedded in the compressed stream, which is not easy to incorporate without breaking backwards compatibility.

To also support this via the zfpy interface, we'd

[2021-07-16 06:46] doiko commented on #138
Hi @lindstro indeed decompression with variable rate sounds a complicate task but is probably simplified for fix rate compression and the python community will get a great tool when such is implemented. Already @zarr and @numcodecs supports zfp through zfpy but the decompressing speed performance might not be satisfactory for many applications I guess.
Thanks for the feedback and the great work.

[2021-07-16 15:09] lindstro commented on #138
We should be able to add OpenMP fixed-rate decompression without much effort and support it through zfpy.  For a seamless integration of variable-rate decompression with zfpy, we really need to update the compressed format to allow additional metadata to be stored, which likely won't happen for at least another year.  There are several other changes we'd like to make to the next version of the zfp

[2021-07-20 21:52] leighorf opened #140 "gzip lossless compression of ZFP encoded HDF5 files shows significant compression"
This isn't so much of an "issue" as a surprising observation I just made.

You can gzip compress ZFP encoded NetCDF4/HDF5 files and get significant file size reduction, especially in files where data isn't changing much.

Paging through an octal dump of some of my ZFP encoded files shows lots of obvious repetition - that apparently can be compressed losslesly pretty well.

For instance: The below

[2021-07-20 21:55] leighorf commented on #140
It occurs to me that this could have something to do with HDF5 chunking parameters perhaps? Maybe this isn't a true ZFP issue?

[2021-07-20 22:15] lindstro commented on #140
Leigh, this is not a surprise to me.  The zfp representation is a tradeoff between compression effectiveness and speed, as zfp primarily serves as a (compact) number format for in-memory storage.  As such, there often is significant redundancy between the leading bits of consecutive zfp blocks (say, the leading 64 bits or so for 3D blocks).  I don't think this has anything to do with chunking.

It

[2021-07-21 16:39] leighorf commented on #140
Peter,

Thanks for the response! Well that is interesting. I'm glad what I'm seeing isn't unusual, I had just naively assumed that a ZFP compressed file wouldn't compress well any further.

I should probably amend my statement about "all I really care about is disk utilization" - so long as the compression doesn't take too long. ZFP is fast and allows me to do research I would otherwise not be abl

[2021-07-21 22:31] lindstro commented on #140
Leigh, I understand that compression speed is not unimportant.  A field that zfp compresses by 24x in serial in 0.7 s is compressed by TTHRESH by 38x in 185 s.  I'm guessing that's prohibitive for most simulation codes.

Your discovery that zfp streams can be further compressed has revived my interest in this.  We have some work planned on progressive (de)compression that could benefit from aligni

[2021-07-26 06:14] lindstro commented on #128
@esosnina Was this issue resolved?  We were unfortunately not able to reproduce the issue on our end or in our Travis CI tests for macOS, so I am unsure how to proceed.  If this is no longer an issue for you, then I'd like to go ahead and close it.

[2021-07-26 06:16] lindstro commented on #140
Leigh, since this is more of a feature than a bug, I'm going to go ahead and close this issue.

[2021-07-26 06:16] #140 closed

[2021-08-03 22:02] lindstro commented on #119
Overflow is prevented when the magnitude, _x_, of the largest value in a block is at least 2^-127 = FLT_MIN / 2 for floats and at least 2^-1023 = DBL_MIN / 2 for doubles, i.e., when _x_ is at least half of the smallest positive normal number.  Rather than capping the exponent and encoding zero-valued coefficients, it is more efficient to simply treat such blocks as all-zeros, which cost only one b

[2021-08-04 18:38] #119 closed

[2021-08-05 14:37] esosnina commented on #128
Sorry for delay, our MacOS systems were upgraded and the issue isn't reproduced now. So I'll close it, thank you!

[2021-08-05 14:37] #128 closed

[2021-08-16 16:33] pkoosha opened #142 "ZFP for HIP instructions"
I am trying to build ZFP for HIP and noticed that you have it as a feature however I am not able to find any documentation on what to enable and examples to use AMD GPUs for ZFP.
I built feature/hip-support and when passing the ctest, I did rocm-smi and it shows the GPU is not being used.
Could you help me with some instructions on this issue? Appreciate you!

[2021-08-16 16:47] lindstro commented on #142
You first need to build zfp with HIP support and then enable the HIP execution policy at run time.  reStructuredText documentation for both is available in `docs/source/execution.rst` and `docs/source/installation.rst`.  If you have Sphinx installed, you can 'build' the documentation as html, for instance, via

[code]

which should result in `docs/build/html/index.html`.

Note that we are in the p

[2021-08-23 19:54] lindstro commented on #142
@pkoosha Please let me know if your questions are answered in the documentation.  If so, I'd like to go ahead and close this issue.

[2021-08-30 21:22] pkoosha commented on #142
It has not been resolved.

I am running the following command I see the following error:

cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/install-zfp -DZFP_WITH_HIP=ON -DHIP_PATH=/opt/rocm-4.2.0/lib/cmake -DAMDDeviceLibs_DIR=/opt/rocm-4.2.0/lib/cmake/AMDDeviceLibs/ -Damd_comgr_DIR=/opt/rocm-4.2.0/lib/cmake/amd_comgr/ -Dhsa-runtime64_DIR=/opt/rocm-4.2.0/lib/cmake/hsa-runtime64/ -DROCclr_DIR=/opt/rocm-4.2.0/li

[2021-08-30 22:04] lindstro commented on #142
This is how we're building zfp with hip on Linux:

`cmake .. -DZFP_WITH_HIP=ON -DHIP_PATH=/opt/rocm-4.2.0/hip -DZFP_WITH_OPENMP=OFF -DCMAKE_CXX_STANDARD=11 -DCMAKE_C_STANDARD=11 -DCMAKE_C_COMPILER=hipcc -DCMAKE_CXX_COMPILER=hip`

[2021-09-01 23:16] hmaarrfk opened #143 "New release in 2021"
Hello,

We are trying to create a release on conda forge for windows + PyPy support .

A recent pull request https://github.com/LLNL/zfp/pull/109

was accepted in 2020 for PyPy compatibility but is causing us headaches patching with regards to patching.

Are you able to make an official release, even if it is just a patch version, for 2021?

Best,

Mark

[2021-09-01 23:38] lindstro commented on #143
We're planning on a release in the coming weeks.  I know I've said this before, but we're getting awfully close.  Please let us know if any changes need to go into this release and we'll incorporate them.

[2021-09-08 17:00] pkoosha commented on #142
I confirm that my issue have been resolved. However, when using RoCM 4.2 I am getting conflicting types for int8 and uint8 from ZFP.h include file and hip_vector_types.h.

`/home/project/zfp/zfp/build/install-dir/include/zfp/types.h:59:23`: error: conflicting types for ‘int8’
  `typedef signed char int8`
   `/opt/rocm-4.2.0/hip/include/hip/amd_detail/hip_vector_types.h:1534:32`: note: previous dec

[2021-09-08 18:00] lindstro commented on #142
I cannot reproduce this error, even though I do see that clashing type definition in `hip_vector_types.h`.  What operating system are you on?  Are you including specific hip headers to trigger this, or does it occur when building zfp?

We plan on eventually replacing `int8` with `int8_t` and similar.  We'll be more motivated to make this change sooner rather than later (at least on the hip branch)

[2021-09-17 16:30] pkoosha commented on #142
This is to confirm that I was able to build and use ZFP API for AMD inside my application after building everything with GCC 11. Thank you for your help

[2021-09-17 16:39] lindstro commented on #142
Glad to hear it.  Our HIP support is still in an experimental phase, with only fixed-rate mode working properly.  We'll be sure to debug and test this feature more thoroughly before it's officially released.

[2021-09-17 16:39] #142 closed

[2021-09-17 16:43] pkoosha opened #144 "Performance of Compreess side for AMD GPUs"
I am using ZFP for 4MB buffer to compress on AMD GPUs and compared to the numbers that I have for NVIDIA there is a huge delay for compression side for compression rate of 8 and 1 dimension data. I was wondering if these numbers sound OK to you and if there is anything could be done to improve the poor compression side. Thanks.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-mi

[2021-09-17 17:13] lindstro commented on #144
That does seem awfully slow (4 MB in over a second).  We are aware that our HIP implementation is quite a bit slower than the CUDA implementation, though we're still observing close to 20 GB/s compression throughput at a rate of 8 bits/value on an AMD MI60 when compressing 3D double-precision data.  By comparison, an NVIDIA V100 achieves 120 GB/s.

Are you able to share the data and (preferably) t

[2021-09-22 21:07] lindstro commented on #133
I ran across [this paper](https://arxiv.org/pdf/2109.05410.pdf) that seems to have tackled this problem.  Not sure if their code is available.

[2021-11-01 18:58] sampotter opened #149 "Filling in missing values"
I noticed that (at least according to the FAQ in v0.5.5) that there is no strategy for filling in missing values. I can imagine there are a number of use cases where such missing values are prevalent due to the existence of geometry in a computational domain.

Having used zfp a bit in this context, and having some understanding of how zfp works (at least according to the original paper), a simple

[2021-11-01 19:59] lindstro commented on #149
There has been some work on this, but we still do not have what I would call a satisfactory solution.  One reason for this is that the current definition of the zfp code stream does not support marking which values are missing, so that information would (currently) have to be managed separately.

We did do some work with one customer where we simply replaced the missing values with the mean value

[2021-11-01 20:40] sampotter commented on #149
Thanks for the quick and thorough response. I appreciate the level of detail provided regarding zfp's internals.

I am certainly in "zfp user space", and I'm not sure whether the strategy I'm proposing would be too slow to integrate into zfp as an automatic inpainting method. Either way, this is roughly what I'm thinking...

For a 4 x 4 x 4 zfp block, assume you have N missing values, with 0 < N <

[2021-11-01 21:45] lindstro commented on #149
This sounds intriguing and is certainly something that could be explored and adopted outside of zfp as a preprocess.  My sense is that such heavy machinery would be an overkill for applications that demand very high-speed (de)compression, e.g., those that use zfp's compressed-array classes for in-memory storage.  But it may be a good idea to support user algorithms for inpainting and an interface

[2021-11-02 14:58] sampotter commented on #149
OK, I had the same hunch (too heavyweight to do inline). Maybe exploring these options will suggest a good way to do superfast inpainting which is compatible with that set of users' requirements, but I won't worry about that for now.

I'd be happy to compare different approaches and see how they fare. I'll need to throw together some examples to test on first, since the fields I'm testing on unfor

[2021-11-02 16:44] lindstro commented on #149
Great.  For examples, I would check out [SDRBench](https://sdrbench.github.io), which has the Miranda data used in the 2014 zfp paper and some version of S3D data.  You might also want to consider the Isabel data set on that site.  The [original version](http://sciviscontest.ieeevis.org/2004/data.html) has missing values marked by 1e35; those were replaced with zeros in the SDRBench version.  Such

[2021-11-02 17:46] sampotter commented on #149
Thanks for data sets. Those will be useful.

I'll take a stab at this as I have time and get back to you here once I've got some results. If you have any more thoughts, please don't hesitate to reach out to me here (I should get notified), or by email.

[2021-11-09 17:37] JasonRuonanWang opened #150 "cmocka_cloned configure error on Mac for latest master"
macOS 11.6.1
AppleClang 13.0.0.13000029
cmake 3.21.2

[code]

[2021-11-09 22:51] lindstro commented on #150
The `master` branch does not make use of cmocka.  I assume you meant the default `develop` branch.

I can reproduce this issue with CMake 3.21.2 but not with an earlier version (3.13.4).  It appears that CMAKE_BUILD_TYPE is not propagated when the external cmocka project is being built (see [this line](https://github.com/LLNL/zfp/blob/b91dcafb4bf844565f82676f90c189ef68f9aa5c/tests/CMakeLists.txt#L

[2021-11-09 22:55] JasonRuonanWang commented on #150
Yeah, the develop branch.

[2021-11-12 18:08] lindstro commented on #150
We need to spend some time on this to get it right, as it seems to be a nontrivial issue to solve in a portable manner.  In the meantime, some possible workarounds include:

- Use an older version of CMake.
- Modify `src/CMakeLists.txt` to use `--config Release` or exclude the `--config` setting on macOS.
- Disable the tests via `-DBUILD_TESTING=OFF`.

[2021-11-12 18:09] lindstro commented on #150
Sorry, that should read `tests/CMakeLists.txt`.

[2021-11-12 18:17] JasonRuonanWang commented on #150
@lindstro Thanks. I can live with -DBUILD_TESTING=OFF for now.

[2021-12-09 00:59] tomandersen commented on #150
Thanks,

This worked for me on mac M1 with macOS 12.0.1

cd zfp
mkdir build
cd build
cmake -DBUILD_TESTING=OFF ..
cmake --build . --config Release
# ctest not gonna do anything

Well it built fine! I am hoping to put it to use soon. I needed 4D arrays.

[2021-12-09 06:01] szellmann opened #151 "Low-level compression"
This is more a question than an issue, but I wasn't sure where else I should ask it. I'm using the low-level API to compress 3D fields. Thing is I cannot easily tell the exact dimensions of that field in advance (and thus also don't know how many blocks it'll give me, I determine that on the fly).

I pulled out a minimal sample out of my app, to illustrate the issue I'm running into / where I'm pr

[2021-12-09 08:32] lindstro commented on #151
I see a few issues here:

First, you should not compute `bytes = (bits+7)/8` before calling `stream_flush()`, because you also need to copy any bits buffered by zfp in whole words (not just whole bytes).  Instead, use `bits += stream_flush(stream);` before counting the number of bytes written.

Second, you have not set the compression parameters in `decode()` via `zfp_stream_set_params()`.  They n

[2021-12-09 11:47] szellmann commented on #151
Awesome, that helped me! Thank you!

In retrospect, I'm a bit embarrassed because the issue with setting the compression parameters in `decode()` as well is kinda obvious - whereas adding the output of `stream_flush()` wasn't and that would definitely have gone unnoticed by me. In regards to setting compression parameters, I guess where I was coming from is that image formats such as JPEG or PNG w

[2021-12-09 11:47] #151 closed

[2021-12-10 03:33] lindstro commented on #151
Having to specify the compression parameters during decompression is indeed unusual, but because zfp supports compressing very small blocks individually--especially via the low-level interface--it is a necessity.  By supporting headers as an optional feature, you can always embed such information when you need it.  The need to flush streams is not uncommon, but it's easy enough to forget to count

[2021-12-15 09:25] siebrenreker commented on #143
Is there any update on this status or is there something we can do to help push towards a new release?

[2021-12-15 17:54] lindstro commented on #143
We're done adding new features and are finishing up a few missing tests, documentation, and minor issues with installation.  Should not be long now, though we'll be taking time off over the holidays, so the release won't happen until after new year.

We could in fact use some help with a couple of items:

- Issue #150 needs to be resolved, having to do with ensuring that cmocka gets built using th

[2021-12-17 21:16] Char-Aznable opened #152 "Support for parallel random access compressed integer array"
Hi, @lindstro Thanks for this great tool! I am interested in using the array1 template for storing a large integer array. The array represents the indices to the column of another 2d array. In side the 1d index array, the neighboring elements have strong correlation with each other (they are actually from Monte Carlo sampling). The usage case is to read the 1d array and appending new elements to i

[2021-12-19 00:40] lindstro commented on #152
zfp currently does not support integer compressed-array classes, though with our recent refactoring of these classes, it is trivial to add such support by adding missing template specializations to `zfpcpp.h` and `zfp/traits.h`.  I spent a few minutes playing with this, and while the code compiles, I'm seeing off-by-one "rounding errors" in the array even when a high enough rate is specified.  The

[2021-12-19 03:56] Char-Aznable commented on #152
@lindstro Thank you so much for adding the new branch for this! I will try it out. But I am still confused in terms of the compression rate for integer array:

1. Does the requirement (in https://zfp.readthedocs.io/en/develop/faq.html#q-granularity) of `word_size / 4^d` bits per value of random access compressed array apply to integer case? I see you use rate of 8 bits in the above example so I gu

[2021-12-19 07:34] lindstro commented on #152
Yes, it does--good catch.  In this case, the rate is rounded up to 16 bits/value using the default word size of 64 bits.  You can change the word size at compile time to be 8 bits, which for 1D arrays would give you 2-bit rate granularity.

That is one source of errors in zfp, but there are others in fixed-rate mode.  Due to the [pigeonhole principle](https://en.wikipedia.org/wiki/Pigeonhole_princ

[2022-01-21 19:05] lindstro opened #154 "Thread-safe array views are broken on develop"
With the recent refactoring of the compressed-array classes into `array`, `cache`, `store`, and `codec`, there is now a single `codec`, owned by the data `store`, that is unsafely shared among threads even when thread-private views are used.  Prior to the refactoring, each `private_const_view` and `private_view` owned a private `zfp_stream` and `bitstream` for accessing compressed blocks.  This un

[2022-01-21 20:47] lindstro commented on #152
@Char-Aznable Is there anything else we can help with before we close this issue?  Since you need lossless compression, I would point you to zfp's `const_array` classes on the `develop` branch, though there currently is an issue with thread-safe access (see #154).  The `const_array` classes also assume that the array is initialized only once and that read-write access is not needed.

[2022-01-27 01:23] Char-Aznable commented on #152
@lindstro Thanks for all the help! I am currently busy with other stuff so I haven't got the chance to work on implementing what you suggested into my code. I will close this for now and maybe come back later if I come up with more questions.

[2022-01-27 01:23] #152 closed

[2022-01-27 20:39] brtnfld opened #155 "Increment develop version after each release."
To help CI apps testing using zfp, it would be helpful if the version of develop could be different from the released version.

[2022-01-28 00:16] lindstro commented on #155
This is a bit tricky.  `develop` is constantly in flux, so there's no single version that you can depend on for any of its features.  Also, if we were to increment it now to, say, 0.5.6, how would some given snapshot in time of `develop` be distinguished from the actual future 0.5.6 release, which may have features not yet on `develop`?  In what circumstance would you would want to depend on zfp's

[2022-01-28 16:24] brtnfld commented on #155
When I check out develop and get the version, it reports 0.5.5. But it is not the released 0.5.5, so the version meaning for develop is not correct in that sense. Develop 0.5.6 might not be the actual 0.5.6 release, but it is for sure not the 0.5.5 release.

How are snapshots currently versioned? For example, would they be snapshots based on versions 0.5.5 or 0.5.6?

For HDF5, we version the devel

[2022-01-28 19:18] lindstro commented on #155
True that develop != 0.5.5, but also develop != 0.5.6.  I do, however, get your point about early testing and not being able to rely on the version number on the develop branch.  We'd need something like 0.5.5.X, with X changing with each push/PR and/or commit, though that gets quite cumbersome to manage in practice since between releases we might have hundreds of commits (so far we have more than

[2022-02-09 00:32] #150 closed

[2022-02-09 21:14] lindstro commented on #150
This issue has hopefully been resolved on `develop`.  Please let us know if the fix does not work for you.

[2022-02-17 17:44] lindstro commented on #144
@pkoosha A brief update: We've done some work to improve the performance of the HIP implementation.  In particular, the high compression (but not decompression) overhead you're seeing is likely due to a GPU cold start, where the ROCM runtime performs lazy initialization during the first kernel launch.  We're now explicitly warming the GPU during `zfp_stream_set_execution()`.  We also improved the

[2022-02-17 17:47] pkoosha commented on #144
Sweet! Thanks for the update! Let me know once you have the numbers and I am excited to see how it goes!

Best,
Pouya Kousha
________________________________
From: Peter Lindstrom ***@***.***>
Sent: Thursday, February 17, 2022 12:44:37 PM
To: LLNL/zfp ***@***.***>
Cc: pkoosha ***@***.***>; Mention ***@***.***>
Subject: Re: [LLNL/zfp] Performance of Compreess side for AMD GPUs (#144)

@pkoosha<http

[2022-02-22 14:22] william-silversmith commented on #107
I was going to experiment with zfpy on MacOS but it seems installing from source didn't work well either.  Thanks for putting this library together!

[code]

[2022-02-23 01:33] lindstro commented on #107
I'm not sure what `pip install` does when installing from source.  If you want to build zfpy with CMake, you have to add `-DBUILD_ZFPY=ON`.  Maybe there's a way to tell pip to use this build option?

[2022-02-23 03:07] william-silversmith commented on #107
Hi Dr. Lindstrom! Yes, it's possible to pass it using `extra_compile_args`. I have some examples here from a module I'm working on:

https://github.com/seung-lab/pyspng-seunglab/blob/master/setup.py#L46-L55

[2022-02-24 07:52] lindstro commented on #107
Great.  Does `pip install` still fail when you add `-DBUILD_ZFPY=ON`?

[2022-02-24 17:17] william-silversmith commented on #107
I took a closer look and it seems that was not sufficient to get it to build. I was able to compress and decompress a numpy array after using `python setup.py develop` with the following modifications:

1. run `make`
2. modify setup.py as follows:
[code]

I tried to see if I could at least reproduce this using an sdist, but the `zfp.pxd` was not included by default using this setup, so I added a `

[2022-02-24 18:17] halehawk commented on #107
You can try pip install zfpy today, it may be all problems gone now.

Sent from my iPhone

[2022-02-24 18:22] william-silversmith commented on #107
Just gave it a try and still getting the same error unfortunately. T_T

[code]

[2022-02-24 18:28] halehawk commented on #107
Can you try zfpy-py310-macos version? I tried this morning, and have no any problem.

Sent from my iPhone

[2022-02-24 23:13] william-silversmith commented on #107
Oh hey, that worked! I can definitely use this for experiments. Thank you!

[2022-03-21 11:17] data-panda opened #158 "Merging changes of feature/hip-support (and feature/parallel-variable-rate)"
At this point in time there has been quite some modifications on `hip-support` branch (leading `develop` by 56 commits and lagging by 176 commits)! Is there a plan anytime soon to sync-up the branches?

Similar is the story with `parallel-variable-rate` branch which comprises of the variable rate OpenMP compress/decompress functionalities. Any comments on this would also be most welcome!

[2022-03-21 17:09] lindstro commented on #158
We're quite busy with the next release of zfp at the moment, which will not include HIP or parallel decompression support--that will be the topic of the following release.  As you have noticed, we are making occasional changes to the two feature branches to meet project deliverables, but due to time constraints little effort has gone into synchronizing branches.  Once we're done with the current r

[2022-04-04 13:04] data-panda opened #159 "ZFP test fails with HIP"
Tried building `zfp/feature-hip-support` following the instructions in #142. With a bit of changes system specific changes here and there (for eg. letting the build find the right hipCUB etc CMake file for Rocm 5.0), I was able to get a successful build on a system with AMD MI100 GPUS.

Test: `testHip` - Success
[code]

Test: `testZfpHip3dFloat` - Fail
[code]

I also modified the `simple.c` to com

[2022-04-04 15:39] lindstro commented on #159
There are some known issues with the variable-rate modes that may cause some testexec tests to fail, but I'm not aware of fixed-rate mode failing.  However, I believe we have not yet tested zfp with ROCM 5.0.  I'd like to try to reproduce this issue.  Can you please let us know what changes you made for ROCM 5.0 and include your modified simple.c?

PS. I'm on vacation this week and will not have m

[2022-04-06 12:24] jwsblokland opened #160 "ZFP and H5Z-ZFP: Changed ZFP_VERSION_RELEASE value"
Hello all,

The other day, I noticed the commit of 29 March has changed the file "version.h". One of changes is that the define `ZFP_VERSION_RELEASE` is different now. In the past it was defined as

`#define ZFP_VERSION_RELEASE ZFP_VERSION_PATCH`

and now it is

`#define ZFP_VERSION_RELEASE ZFP_VERSION_MAJOR`

This change gives a problem when I try to build the HDF5 plugin H5Z-ZFP. In this plugin

[2022-04-06 14:55] lindstro commented on #160
I believe this change to `ZFP_VERSION_RELEASE` is a mistake. @GarrettDMorrison can you please comment?  Going forward, I think H5Z-ZFP ought to use `ZFP_VERSION_PATCH` as `ZFP_VERSION_RELEASE` exists only for backwards compatibility.

[2022-04-06 17:44] GarrettDMorrison commented on #160
Yes that was not an intended change and I'm unsure how it snuck in there as no changes to that line were needed for this commit. I have reverted this change. Having said that I agree with @lindstro that going forward it would be better to use ZFP_VERSION_PATCH.

[2022-04-07 06:39] jwsblokland commented on #160
Thanks all for the explanation and for reverting the unintended change of ZFP_VERSION_RELEASE. Together with @markcmiller86 I will update H5Z-ZFP such it will make use of ZFP_VERSION_PATCH instead of ZFP_VERSION_RELEASE.

[2022-04-07 06:39] #160 closed

[2022-04-12 17:09] lindstro commented on #159
@data-panda Can you please share your relevant changes so we can attempt to reproduce and debug this issue?

Some of the ROCM 5.0 build issues are likely to be addressed on PR #161, but we're not quite yet ready to merge it.

[2022-04-13 11:38] data-panda commented on #159
@lindstro After a bit of tinkering around I reached a state where I am seeing all "fixed rate" tests passing even the HIP ones. So I am trying to see and include some changes from the unit test: `testexec` into my changed `simple.c`. Unfortunately the system with MI100 is being taken down for a scheduled maintenance activity today. I will post the outcomes and irrespective of success and failure w

[2022-04-21 02:19] lindstro commented on #159
@data-panda Would be great if you could share your changes and results so we can start looking into this issue on our end.

[2022-05-04 12:43] data-panda commented on #159
closing this for now as we are working in AMD dev team to address this. Will post the update and re-open if needed!

[2022-05-04 12:43] #159 closed

[2022-05-31 01:33] henryleberre opened #163 "ZFP Fortran Bindings and nvhpc"
I ran into a few hurdles while attempting to compile and use ZFP with Cuda support using NVHPC v22.5 and its Fortran bindings. I might have misinterpreted part of the documentation, and would appreciate your help, especially with my last issue which I haven't yet resolved.

### System details

## Building ZFP

- The CMake options bellow didn't change which host compiler was used. However, it does

[2022-06-10 19:21] lindstro opened #164 "Precision=64 is not considered fixed-precision mode"
After calling `zfp_stream_set_precision(stream, 64)`, `zfp_stream_compression_mode(stream)` returns `zfp_mode_expert` rather than the expected `zfp_mode_fixed_precision`.  This is a result of `zfp_stream_set_precision(stream, 64)` not constraining any of the four expert-mode parameters, leaving them at their default values, which is a state currently considered expert mode.  This behavior has an u

[2022-06-22 19:22] kwryankrattiger commented on #158
Just following up here, I am working on the ecp-data-vis-sdk in spack and we were looking at packages that would have ROCm enabled. I have seen this in the works for awhile, is there a timeline on when it would be ready in a release?

[2022-07-08 03:43] henryleberre commented on #163
Update: I looked into it some more today, intercepting the calls in Fortran and in C. Calling `zFORp_stream_set_execution`, the received arguments (in the Fortran interface) are correct but, when they are forwarded to C, I receive nonsensical values. Reinterpreting them as uint64_t as looking at their binary representation doesn't provide more insight. The size of `c_int` and the types representin

[2022-07-22 20:20] #154 closed

[2022-08-01 21:45] lindstro commented on #143
@hmaarrfk, @siebrenreker: The 1.0.0 release is now live.  Thanks for your patience.

[2022-08-01 22:20] lindstro commented on #163
@henryleberre Apologies for a very late response--I did not get notifications for this issue and just now saw it.

`c_ptrdiff_t` requires Fortran 2018 support.  Perhaps that's the issue?  This has been documented in today's 1.0.0 release.

Does the Fortran test in tests/fortran/testFortran.f pass?

In your example, `stream = zFORp_stream_open(bitstream)` is called before `bitstream` has even been

[2022-08-01 22:23] lindstro commented on #158
@kwryankrattiger Apologies for a late response--for some reason GitHub is no longer forwarding issues to me.  Let me investigate why.

We just released 1.0.0 today.  Updated CUDA and ROCm support will appear on the next release around the end of the year (fingers crossed).

[2022-08-01 22:26] lindstro commented on #155
@brtnfld We released 1.0.0 today, which hopefully addresses this issue.  `ZFP_VERSION_DEVELOP` will be defined whenever `develop` differs from the most recent release.  We have also added `ZFP_VERSION_TWEAK` for snapshots, which will be updated when feature branches are merged into `develop` between official releases.  See also the new `ZFP_MAKE_VERSION` family of macros.  Please let us know if th

[2022-08-01 23:12] henryleberre commented on #163
@lindstro There is no need to apologize, thank you for responding. I had used [tests/fortran/testFortran.f](tests/fortran/testFortran.f) as a reference and do confirm it worked properly. However, adding a call to the Fortran equivalent of `zfp_stream_set_execution` in this file does produce the same behavior as with my tests.

Indeed, the example I posted does seem to contain an error. While attem

[2022-08-02 03:42] lindstro commented on #163
@henryleberre I can't think off the top of my head why possible lack of `c_ptrdiff_t` support would interfere with the execution policy, but admittedly we do not yet have adequate testing of the Fortran bindings.  Come to think of it, we recently (around June 22) changed the `zfp_stream` struct on `develop` to separate out the execution parameters to a dynamically allocated struct (pointed to by `

[2022-08-02 07:06] siebrenreker commented on #143
Thanks for the heads up @lindstro, we'll pick it up and begin testing it. Congratulations on getting to the 1.0.0!
Are you now planning to do [semantic versioning](https://semver.org/) going forward?

[2022-08-02 08:30] jwsblokland opened #166 "Missing ZFP_VERSION_DEVELOP variable in version.h"
Hello @GarrettDMorrison and @lindstro ,

A moment ago, I noticed in the develop branch that the recently introduced variable ZFP_VERSION_DEVELOP in [include/zfp/version.h](https://github.com/LLNL/zfp/blob/develop/include/zfp/version.hl) has been removed.

Is this done intentionally or is it a mistake during the merge?

Best regards,
Jan-Willem

[2022-08-02 08:54] henryleberre commented on #163
@lindstro I agree, I don't think `c_ptrdiff_t` is the culprit. Thank you for taking a deeper look into this!

[2022-08-02 16:09] lindstro commented on #143
Thanks, @siebrenreker.  Yes, we've entirely revamped our approach to versioning and will be using something very similar to semantic versioning going forward.

[2022-08-02 16:21] lindstro commented on #163
No problem.  I also found out that, after being a member for over a decade, GitHub decided that my email address was all of a sudden unverified, which presumably is why I've not been getting notifications (though for some reason I'm getting CI and commit status messages).  Go figure!  Sorry again about the delay.

[2022-08-02 20:36] brtnfld commented on #155
Thanks, I think that solution will work with H5Z-ZFP

[2022-08-02 20:36] #155 closed

[2022-08-03 08:08] jwsblokland commented on #166
@lindstro Ah thanks for explaining it and pointing me to the documentation. I did not expect to work like this, but it is properly documented so I should have read to documentation more carefully.

[2022-08-03 08:08] #166 closed

[2022-08-03 11:08] hmaarrfk commented on #143
Is there some reason I can't find python easily? Has that cmake logic changed?

[2022-08-03 13:39] data-panda commented on #133
@lindstro was this something that got a place in this release (release notes does not mention so)?

[2022-08-03 14:54] lindstro commented on #143
@hmaarrfk Can you please be more specific?

[2022-08-03 15:04] lindstro commented on #133
@data-panda No, this release does not include the latest CUDA and HIP work we have been doing.  That will end up in the next release.  Regarding CUDA streams specifically, that is not yet something our team has looked at yet.  We've had discussions with others who have looked at this (see [this paper](https://link.springer.com/chapter/10.1007/978-3-031-07312-0_1), for instance) and would welcome a

[2022-08-03 23:58] hmaarrfk commented on #143
Looking into it. It seems that i deleted one of my own patches that helped it find things with pypy.

I think I had asked about moving to a newer version of cmake that would be able to handle it but i might not have followed through with it.

Thanks all!

[2022-08-03 23:58] #143 closed

[2022-08-03 23:58] hmaarrfk commented on #143
ill see if i can cleanup my patch enough to upstream

[2022-08-05 00:49] hmaarrfk commented on #143
I think you use enough scikit-build stuff. I opened an issue: https://github.com/scikit-build/scikit-build/issues/736

[2022-08-08 17:06] lindstro commented on #143
@hmaarrfk Thanks for all your help with this.  I noticed that the documentation for the conda [zfp](https://anaconda.org/conda-forge/zfp) and [zfpy](https://anaconda.org/conda-forge/zfpy) packages still points to version 0.5.5.  Also, the canonical URL for the zfp project is now https://zfp.llnl.gov.

I must confess to knowing nothing about conda(-forge).  Are you the maintainer of both packages?

[2022-08-08 22:16] hmaarrfk commented on #143
See https://github.com/conda-forge/zfpy-feedstock/

Edits to the links would be appreciated
https://github.com/conda-forge/zfpy-feedstock/blob/92f9eaa55887bf26c6b5c5d645952f4bd3ea50fc/recipe/meta.yaml#L87

[2022-08-08 22:17] hmaarrfk commented on #143
We mostly renamed the main feedstock a while back.

[2022-08-09 01:24] lindstro commented on #143
@hmaarrfk I forked the repo and updated the links, but I am not sure how to complete the checklist below.  All but the fork seem like conda specific things that I don't know how to handle.  How/where do I set the build number?  What does it mean to package the license file?

Checklist
* [x] Used a [personal fork of the feedstock to propose changes](https://conda-forge.org/docs/maintainer/updating_

[2022-08-09 01:48] markcmiller86 opened #168 "How to handle CFP API across versions and install modalities"
ZFP can be built using either CMake or apparently also vanilla Make (GNU make).

But, these two systems are not consistent in how they ultimately *install* a ZFP build.

There is no `install` target for GNU make whereas there is for CMake. In addition, for CMake one can choose the install point. The contents of `include` and `lib` dirs from a `mkdir build; cd build; cmake ..; make install` differ

[2022-08-09 02:48] hmaarrfk commented on #143
Package license file means that thsi line exists and doesn't fail:
https://github.com/conda-forge/zfpy-feedstock/blob/92f9eaa55887bf26c6b5c5d645952f4bd3ea50fc/recipe/meta.yaml#L90

It refers to the license of the source.

Build number refers to this line
https://github.com/conda-forge/zfpy-feedstock/blob/92f9eaa55887bf26c6b5c5d645952f4bd3ea50fc/recipe/meta.yaml#L22

[2022-08-09 03:00] lindstro commented on #168
GNU make builds are unfortunately very limited in this respect.  The main use case for such builds is the ability to just type `make` and quickly obtain a static C library (`lib/libzfp.a`) and executable (`bin/zfp`) without the additional steps needed by CMake.  Furthermore, GNU make does not support zfp components such as CUDA/HIP execution, Python bindings, and the 4300+ tests available on the `

[2022-08-09 03:03] hmaarrfk commented on #143
You can just edit the line you know how to edit.

[2022-08-09 03:54] markcmiller86 commented on #168
Maybe things aren't as different as I was seeing when looking at `0.5.4` and `0.5.5`. Below I list contents of `include`, `lib`, and `bin` dirs of the two types of builds (and *installs*) for a few versions.

It looks like 1.0.0 is pretty close to same for both cases though now, at least for vanilla builds.

I am mainly concerned about a) ensuring H5Z-ZFP continues to build and operate correctly w

[2022-08-09 07:21] hubutui opened #169 "fail to build zfp 1.0.0 due to missing link to libm"
OS: ArchLinux
gcc: 12.1.1
python: 3.10.5

[code]
error log:
[code]
check the complete build [log.fail.txt](https://github.com/LLNL/zfp/files/9288014/log.fail.txt).
check the [PKGBUILD](https://github.com/archlinux/svntogit-community/blob/83371af22b0024e1263137b6f87c30dc6a032faa/trunk/PKGBUILD) I used to build zfp. I only update the `pkgver` to `1.0.0`, and the `sha256sums`.

I could build it with

[2022-08-09 15:06] lindstro commented on #168
Right.  The main difference is that CMake creates shared objects by default whereas the GNU make builds static libraries.  You can change this using `make BUILD_SHARED_LIBS=1`.  However, there appears to be an issue with building `libcfp` in shared mode.  I will look into this.  Also, you don't get the symlinks that you do with CMake, and you don't get platform dependent extensions (e.g., `.dylib`